.chart-frame  {
	.open-close {
		padding: 6px 10px 6px 0;

		.badge {
			font-weight: 700;
			font-size: $font-size-base;
			vertical-align: top;
			line-height: 1;
			padding: 6px 6px 7px 5px;
			border-radius: $base-border-radius;
		}
	}
}

.badge {
	display: inline-block;
	vertical-align: middle;
	padding: 2px 3px;
	background: $lines-light-gray;
	color: $secondary-text-color;
	border-radius: 5px;
	margin: 0 0 0 3px;
	font-size: 12px;
	font-weight: 500;
}

.filter-opener-badge {
	color: $white;
	font-size: 15px;
	font-weight: 500;
	background: $purple;
	display: inline-block;
	vertical-align: middle;
	padding: 4px 11px 3px;
	border-radius: 30px;
	margin: 0 0 0 9px;
}