.btn-circle-lg {
	display: inline-block;
	vertical-align: top;
	outline: none;
	border: none;
	width: 41px;
	height: 41px;
	position: relative;
	border-radius: 100%;
	transition: opacity $animation-speed;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: calc(50% - 1px);
		left: 35%;
		right: 35%;
		height: 2px;
		background: $white;
	}

	&.plus {
		background: $green;

		&:before {
			top: 35%;
			bottom: 35%;
			left: calc(50% - 1px);
			right: auto;
			width: 2px;
			height: auto;
		}
	}

	&.cross {
		background: $light-red;
		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	&.location {
		@include flex-central-align;
		background: transparent;
		border: 1px solid $lines-light-gray;
		font-size: 18px;

		&:after {
			display: none;
		}
		&:before {
			height: auto;
			background: none;
			position: static;
			font-family: 'icomoon';
			content: "\e92e";
		}
	}

	&.eye {
		@include flex-central-align;
		background: $bg-light-gray;
		color: $secondary-text-color;
		font-size: 10px;

		&:after {
			display: none;
		}
		&:before {
			height: auto;
			background: none;
			position: static;
			font-family: 'icomoon';
			content: "\e907";
		}
	}

	&:hover {
		opacity: 0.7;
	}
}

.chart-button {
	display: inline-block;
	border: none;
	background: transparent;
	padding: 0;
	color: $base-text-color;
	outline: none;

	@include media('>=tablet') {
		@include flex-horizontal-align;
		color: $purple;
		border: 1px solid $lines-light-gray;
		border-radius: $base-border-radius;
		padding: 11px 16px;
		min-width: 146px;
		font-size: 13px;
		font-weight: 500;
		transition: background $animation-speed;
	}

	&:hover {
		@include media('>=tablet')  {
			background: $lines-light-gray;
		}
	}

	i {
		font-size: 26px;
		@include media('>=tablet') {
			font-size: 19px;
			margin: 0 9px 0 0;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.filter-btn {
	@include flex-central-align;
	position: relative;
	outline: none;
	color: $secondary-text-color;
	border-radius: 9px;	
	border: none;
	background: transparent;
	min-width: 20px;
	min-height: 20px;
	padding: 0;
	font-size: 20px;
	transition: background $animation-speed, color $animation-speed;

	&:hover,
	&.active,
	.active & {
		@include media('>=tablet') {
			background: $dark-purple;
			color: $white;
		}
	}

	&:before {
		content: "\e908";
		font-family: 'icomoon';
	}

	@include media('>=tablet') {
		background: #f8f8fd;
		min-width: 44px;
		min-height: 44px;
		padding: 5px;
		font-size: 19px;
	}
}

.btn-add {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: $purple;
	font-size: 13px;
	transition: color $animation-speed;

	&:before {
		content: "\e910";
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
		padding: 0 11px 0 0;
	}

	&:hover {
		color: $base-text-color;
	}
}

.submit  {
	outline: none;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	outline: none;
	color: $white;
	background: $green;
	border: none;
	padding: 8px 15px;
	text-align: center;
	min-width: 94px;
	border-radius: 5px;
	transition: background $animation-speed;

	&:hover {
		background: lighten($green, 4%);
	}
}

.btn {
	font-weight: 500;
	outline: none;
	display: inline-block;
	vertical-align: top;
	background: transparent;
	border: 1px solid $input-border-color;
	color: $secondary-text-color;
	border-radius: 6px;
	padding: 17px 10px;
	min-width: 216px;
	text-align: center;
	transition: background $animation-speed, border-color $animation-speed, color $animation-speed;

	&:hover {
		background: rgba($input-border-color, 0.2);
	}

	@include media('>=tablet') {
		padding: 15px 10px 16px;
	}

	&.md-withou-border {
		@include media('>=tablet') {
			padding: 0;
			min-width: 0;
			width: auto !important;
			color: $base-text-color;
			font-weight: 500;
			border: none;
		}

		&:hover {
			@include media('>=tablet') {
				background: transparent;
				color: $secondary-text-color;
			}
		}
	}

	&.btn-small {
		border-radius: 5px;
		padding: 10px 17px;
		min-width: 87px;
		font-size: $secondary-size-base;
	}

	&.btn-red {
		border-color: $light-red;
		background: $light-red;
		color: $white;

		&:hover {
			border-color: darken($light-red, 10%);
			background: darken($light-red, 10%);
		}
	}

	&.btn-green {
		border-color: $green;
		background: $green;
		color: $white;

		&:hover {
			border-color: lighten($green, 4%);
			background: lighten($green, 4%);
			color: $white;
		}

		&:focus {
			color: $white;
		}
	}

	&.btn-green-border {
		border-color: $green;
		color: $green;
		font-weight: 500;

		&:hover {
			border-color: $green;
			background: rgba($green, 0.07);
		}
	}

	&.btn-has-arrow {
		min-width: 166px;
		position: relative;
		padding-right: 48px !important;

		&:after {
			content: "\e91e";
			font-family: 'icomoon';
			font-size: 9px;
			position: absolute;
			top: calc(50% - 3px);
			right: 19px;
			transform: scaleX(-1);
		}
	}

	&.purple-color {
		min-width: 105px;
		color: $purple;
		padding: 13px 10px;
		font-weight: 500;

		@include media('>=tablet') {
			padding: 13px 16px;
			font-size: $secondary-size-base;
		}
	}
}

.btn-remove {
	@include flex-central-align;
	text-decoration: none;	
	color: $secondary-text-color;
	font-size: 7px;
	outline: none;
	background: $lines-light-gray;
	border: none;
	border-radius: 100%;
	padding: 0;
	width: 20px;
	height: 20px;
	transition: color $animation-speed;

	&:after {
		content: "\e904";
		font-family: 'icomoon';
	}

	&:hover {
		color: $base-text-color;
	}

	@include media('>=tablet') {
		background: transparent;
	}
}

.reset-filters,
.reset-date {
	font-size: 15px;
	color: $secondary-text-color;
	background: transparent;
	padding: 0;
	outline: none;
	border: none;
	transition: color $animation-speed;
	
	&:after {
		content: "\e904";
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 20px;
		color: $secondary-text-color;
		background: $lines-light-gray;
		border-radius: 100%;
		font-size: 7px;
		line-height: 20px;
		text-align: center;
		margin: 0 0 0 12px;

		@include media('>=tablet') {
			display: none;
		}
	}

	&:hover {
		color: $base-text-color;
	}

	@include media('>=tablet') {
		font-size: 12px;
	}
}

.reset-all-filters {
	font-weight: 500;
	color: $base-text-color;
	background: transparent;
	padding: 0;
	outline: none;
	border: none;
	transition: color $animation-speed;

	&:before{
		content: "\e913";
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 0 0;
		font-size: 18px;
	}

	&:hover {
		color: $secondary-text-color;
	}
}

.btn-search {
	outline: none;
	display: inline-block;
	vertical-align: top;
	background: transparent;
	padding: 0;
	border: none;
	position: relative;
	font-size: 22px;
	transition: color $animation-speed;

	&:before{
		content: "\e915";
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
	}

	&:hover {
		color: $base-text-color;
	}

	@include media('>=tablet') {
		font-size: 18px;
	}
}

.btn-back {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 41px;
	height: 41px;
	border: none;
	padding: 0;
	background: $light-gray;
	color: $text-gray;
	font-size: 11px;
	border-radius: 100%;
	outline: none;
	transition: color $animation-speed;

	&:before {
		content: "\e91e";
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:hover {
		color: $base-text-color;
	}
}

.add-item {
	@include flex-central-align;
	text-decoration: none;
	outline: none;
	position: relative;
	background: $green;
	color: $white;
	border-radius: 100%;
	width: 41px;
	height: 41px;
	border: none;
	transition: background $animation-speed;

	&:before {
		font-family: 'icomoon';
		content: "\e910";

		@include media('>=tablet') {
			display: none;
		}
	}

	&:hover {
		background: lighten($green, 4%);
		color: $white;
	}

	&:focus {
		color: $white;
	}

	&.medium {
		@include media('>=tablet') {
			min-width: 169px;
		}
	}

	@include media('>=tablet') {
		min-width: 200px;
		border-radius: $sm-border-radius;
		font-size: $secondary-size-base;
		font-weight: 500;
		height: 43px;
	}
}

.btn-edit,
.btn-del,
.btn-archive,
.btn-download {
	@include flex-central-align;
	border: none;
	outline: none;
	margin: 0 3px;
	text-decoration: none;
	width: 32px;
	height: 32px;
	border-radius: 9px;
	background: #f8f8fd;
	color: $secondary-text-color;
	transition: color $animation-speed;

	&:hover {
		color: $base-text-color;
	}

	&:before{
		font-family: 'icomoon';
	}
}

.btn-edit {
	font-size: 12px;
	&:before{
		content: "\e925";
	}
}

.btn-del {
	font-size: 16px;
	&:before{
		content: "\e921";
	}
}

.btn-archive {
	font-size: 16px;
	&:before{
		content: "\e90f";
	}
}

.btn-download {
	font-size: 16px;
	&:before{
		content: "\e906";
	}
}

.notification-btn {
	font-size: $font-size-base;
	color: $white;
	background: #7a6eda;
	border-radius: 21px;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding: 10px 7px;
	min-width: 58px;
	outline: none;
	border: none;
	transition: background $animation-speed;

	&:hover {
		background: darken(#7a6eda, 3%);
	}

	&.bordered-btn {
		background: transparent;
		font-weight: normal;
		text-transform: none;
		border: 1px solid #7a6eda;
		min-width: 127px;

		&:hover {
			background: #7a6eda;
		}
	}
}

.launch-action {
	@include flex-central-align;
	text-decoration: none;
	font-style: normal;
	width: 23px;
	height: 23px;
	background: #d4f8e3;
	color: #33CE9B;
	font-size: 7px;
	border-radius: 100%;
	line-height: 1;
	margin: 0 10px 0 0;

	&:before{
		content: "\e938";
		font-family: 'icomoon';
	}
}

.btn-reset {
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	outline: none;
	background: none;
	border: none;
	color: $light-red;
	padding: 0;
	font-size: 12px;
	font-weight: 500;
	transition: opacity $animation-speed;
	
	&:before {
		content: "\e92a";
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
		font-size: 6px;
		width: 21px;
		height: 21px;
		background: $input-border-color;
		border-radius: 100%;
		color: $white;
		line-height: 21px;
		text-align: center;
		margin: 0 2px 0 0;

		@include media('>=tablet') {
			width: 17px;
			height: 17px;
			line-height: 17px;
			background: $light-red;
			margin: -2px 2px 0 0;
		}
	}

	&:hover {
		opacity: 0.7;
	}
}

.btn-step-back {
	@include flex-central-align;
	outline: none;
	text-decoration: none;
	background: none;
	padding: 5px;
	border: 1px solid $input-border-color;
	box-sizing: border-box;
	border-radius: 6px;
	color: $secondary-text-color;
	width: 54px;
	height: 54px;
	transition: color $animation-speed;

	@include media('>=tablet') {
		border: none;
		justify-content: flex-start;
		width: auto;
		height: auto;
		padding: 0;
	}

	&:before {
		font-family: 'icomoon';
		content: "\e924";
		display: inline-block;
		vertical-align: top;

		@include media('>=tablet') {
			margin: 0 10px 0 0;
			font-size: 12px;
		}
	}

	&:hover {
		color: $base-text-color;
	}
}

.icon-radius-map,
.icon-area-on-a-map {
	@include flex-central-align;
	text-decoration: none;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: $white;
	color: $base-text-color;
	font-size: 28px;
	outline: none;
	border: none;
	padding: 0;
	transition: background $animation-speed, color $animation-speed;

	&.active,
	&:hover {
		background: $purple;
		color: $white;
	}

	@include media('>=tablet') {
		width: 44px;
		height: 44px;
		font-size: 23px;
		border-radius: 5px;
	}
}

.map-zoom-btn {
	@include flex-central-align;
	padding: 0;
	outline: none;
	border: none;
	background: $white;
	color: $secondary-text-color;
	font-size: 15px;
	height: 36px;
	width: 26px;
	transition: color $animation-speed;

	&.minus {
		&:hover {
			&:before {
				background: $base-text-color;
			}
		}

		&:before{		
			content: '';
			width: 11px;
			height: 2px;
			border-radius: 2em;
			background: $secondary-text-color;
			transition: background $animation-speed;
		}
	}

	&:hover {
		color: $base-text-color;
	}

	@include media('>=tablet') {
		height: 30px;
		width: 20px;
		font-size: 12px;
	}
}

.simple-btn {
	padding: 9px 14px;
	text-align: center;
	outline: none;
	text-decoration: none;
	background: transparent;
	border: none;
	border-radius: 2em;
	font-weight: 500;
	transition: color $animation-speed, background $animation-speed;

	@include media('>=tablet') {
		padding: 6px 10px;
		font-size: $secondary-size-base;
	}

	&:hover {
		color: $purple;
		background: $bg-light-gray;
	}
}

.play-video {
	@include flex-central-align;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background: #605f64;
	color: $white;
	font-size: 19px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: background $animation-speed;

	&:hover {
		background: $purple;
		color: $white; 
	}

	&:before {
		content: "\e938";
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: top;
		margin: 0 0 1px 5px;
		color: $white; 
	}

	@include media('>=tablet') {
		width: 60px;
		height: 60px;
	}
}

.circle-btn {
	display: inline-block;
	vertical-align: top;
	outline: none;
	background: none;
	border-radius: 100%;
	border: 1px solid $lines-light-gray;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 31px;
	font-size: 13px;
	color: $purple;
	transition: background $animation-speed;

	&:hover {
		background: rgba($purple, .1s);
	}

	&.icon-directions {
		&:before {
			display: inline-block;
			vertical-align: top;
			transform: scaleX(-1);
		}
	}
}

.btn-cancellation {
	outline: none;
	text-decoration: none;
	padding: 0;
	border: 0;
	background: none;
	color: $secondary-text-color;
	font-size: 15px;
	font-weight: 500;
	transition: color $animation-speed;

	&:hover {
		color: $base-text-color;
	}
}