.has-arrow {
	position: relative;

	&:after {
		content: "\e918";
		font-family: icomoon;
		display:inline-block;
		vertical-align: middle;
		margin: 0 0 3px 3px;
		font-size: 7px;
		color: inherit;
		transition: transform $animation-speed;

		@include media('>=tablet') {
			margin: 0 0 0 13px;
		}
	}
}

.open-close,
.datepicker-open-close {
	position: relative;
	color: $base-text-color;

	&.active  {
		.has-arrow:after {
			transform: rotate(180deg)
		}

		.slide {
			opacity: 1;
			visibility: visible;
		}
	}

	&.mobile-popup {
		@include media('<tablet') {
			position: static;
		}

		.slide,
		.slide[class*="-drop"] {		
			@include media('<tablet') {
				top: 67px;
				left: 0;
				width: 100%;
				height: calc(100vh - 67px);
				margin: 0;
				min-width: 0 !important;
				border: none;
				border-radius: 0;
				box-shadow: none;
				padding: 33px 30px;
				position: fixed;
				z-index: 2;
				overflow-y: auto;
			}
		}

		&:before {
			@include media('<tablet') {
				display: none;
			}
		}

		.btn-holder {
			padding: 30px 0;
			@include media('>=tablet') {
				position: absolute;
				bottom: -2px;
				left: 0;
				padding: 0;
			}
		}
	}

	&.select {
		margin: 0 0 15px;
		border-radius: 5px;
		border: 1px solid $lines-light-gray;

		&.active {
			.slide {
				@include media('>=tablet') {
					top: 100%;
				}
			}
		}

		.slide {
			min-width: 0;
			top: 100%;
			left: 0;
			width: 100%;
			margin: 0;
			border-radius: 0 0 11px 11px;

			&:before {
				display: none;
			}
		}

		.opener {
			@include flex-horizontal-align;
			font-size: 15px;
			width: 100%;
			position: relative;
			padding: 5px 17px;
			height: 45px;
			@include media('>=tablet') {
				font-size: $font-size-base;
				color: $secondary-text-color;
			}

			&:after {
				position: absolute;
				font-size: 4px;
				right: 17px;
				top: calc(50% - 2px);
				margin: 0;
			}

			&.selected-item {
				color: $base-text-color;
			}

			.align-select-text {
				width: 100%;
				height: 100%;
			}
		}

		.align-select-text {
			@include flex-horizontal-align;
			width: 100%;

			img {
				margin: 0 12px 0 0;

				@include media('>=tablet') {
					margin: 0 15px 0 0;
				}
			}
		}

		.list {
			li {
				@include media('<tablet') {
					@include flex-horizontal-align;
					justify-content: space-between;
				}
			}
		}

		.switch-frame {
			padding: 0;
			@include media('>=tablet') {
				display: none;
			}

			.switch {
				margin: 0;
			}
		}

		.fake-switch-label {
			@include media('>=tablet') {
				cursor: pointer;
			}
		}

		.fake-label {
			padding: 0;

			@include media('>=tablet') {
				padding: 0;
			}
		}

	}

	&.clients-sorting {
		padding: 16px 0 30px;

		@include media('>=desktop') {
			display: none;
		}

		.icon-sorting {
			font-size: 10px;
			margin: 0 5px 0 0;
		}

		.opener {
			font-size: $font-size-base;
			font-weight: 500;

			&:after {
				margin: 0 0 0px 5px;
				font-size: 4px;
			}
		}
	}

	.opener {
		color: inherit;
		font-size: inherit;
		text-decoration: none;
		transition: color $animation-speed;

		&:hover {
			color: $purple;
		}

		&.btn-edit,
		&.btn-del,
		&.btn-archive {
			color: $secondary-text-color;
			transition: color $animation-speed;

			&:hover {
				color: $base-text-color;
				opacity: 1;
			}
		}

		a {
			font-size: inherit;
		}
	}

	.slide {
		font-size: $font-size-base;
		position: absolute;
		background: $white;
		min-width: 246px;
		padding: 20px 25px;
		border: 1px solid $lines-light-gray;
		border-radius: $lg-border-radius;
		box-shadow: 0px 18px 50px rgba(94, 101, 140, 0.15);
		z-index: 2;
		margin: 5px 0 0;
		opacity: 0;
		visibility: visible;

		&:before {
			content: '';
			position: absolute;
			top: -9px;
			left: 28px;
			background: url('../images/drop-arrow.svg') no-repeat;
			width: 25px;
			height: 10px;
		}

		&.mobile-right {
			&:before {
				@include media('<tablet') {
					left: auto;
					right: 28px;
				}
			}

			@include media('<tablet') {
				right: 0;
				left: auto;
			}
		}
		&.right-position {
			right: -21px;
			left: auto;

			&:before {
				left: auto;
				right: 28px;
			}
		}

		&.company-drop {
			min-width: 468px;
			padding: 23px 18px;
			
			&:before {
				left: 28px;
			}

			.list {
				padding: 0;
				@include media('>=tablet') {
					padding: 0 0 41px;
				}

				li {
					padding-bottom: 26px;
					@include media('>=tablet') {
						padding-bottom: 16px;
					}
				}
			}
		}

		&.report-drop {
			min-width: 286px;
		}

		&.sorting-drop {
			padding: 20px 22px 28px;

			@include media('>=phone') {
				width: 345px;
			}

			@include media('>=tablet') {
				right: 0;
				left: auto;
				padding: 20px 22px 11px;
			}

			&:before {
				left: auto;
				right: 38px;
			}

			.list {
				li {
					padding-bottom: 19px;
				}
			}

			.fake-input {
				@include media('>=tablet') {
					display: none;
				}
			}

			.fake-label {
				@include media('>=tablet') {
					padding: 0;
				}
			}
		}

		&.pagination-drop {
			margin-top: 0;
			margin-bottom: 7px;
			width: 246px;
			bottom: 100%;
			font-weight: normal;

			@include media('>=tablet') {
				right: 0;
				left: auto;
				top: auto;
			}

			&:before {
				bottom: -7px;
				top: auto;
				transform: scaleY(-1);
				@include media('>=tablet') {
					left: auto;
					right: 28px;
				}
			}
		}

		&.right-direction {
			right: -10px;
			left: auto;

			&:before {
				right: 18px;
				left: auto;
			}
		}
	}

	.slide-two-column {
		@include media('>=tablet') {
			display: flex;
		}

		.col {
			padding: 0 0 35px;
			@include media('>=tablet') {
				width: 50%;
				padding: 0 18px 0 0;
			}
		}

		.col + .col {
			position: relative;
			padding: 27px 0 0;

			&:before{
				content: '';
				background: $lines-light-gray;
				height: 1px;
				left: -25px;
				right: -25px;
				top: 0;
				position: absolute;

				@include media('>=tablet') {
					height: auto;
					width: 1px;
					left: 0;
					right: auto;
					top: -22px;
					bottom: -67px;
				}
			}

			@include media('>=tablet') {
				padding: 0 0 0 18px;
			}
		}
	}

	.slide-two-column + .btn-holder {
		@include media('>=tablet') {
			max-width: 50%;
		}
	}

	.slide-title {
		display: block;
		padding: 0 0 38px;
		font-size: 18px;
		font-weight: normal;
		color: $base-text-color;

		@include media('>=tablet') {
			font-size: $font-size-base;
			font-weight: 500;
			color: $secondary-text-color;
			padding: 0 0 30px;
		}

		i.hidden-tablet[class*="icon"] {
			font-size: 7px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 9px 2px 0px;
		}
	}

	.lead-slide-title {
		font-size: 20px;
		color: $base-text-color;
		display: block;
		padding: 0 0 41px;
		font-weight: 500;
	}

	.submit,
	button[type="submit"] {
		font-size: 12px;

		@include media('<tablet') {
			width: 100%;
			font-size: 15px;
			font-weight: 500;
			padding: 18px 15px;
		}
	}

	.btn-back {
		margin: -2px 13px 0 0;
	}
}

.datepicker-open-close {
	.opener {
		@include flex-horizontal-align;

		i {
			color: $purple;
		}
	}
}

.drop-form {

	&.has-indent {
		@include media('>=tablet') {
			padding: 0 0 44px;
			position: relative;
		}
	}

	@include media('>=tablet') {
		padding: 0;
		position: relative;
	}

	@include media('<tablet') {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		height: 95%;
	}
}

.filter-holder {

	.filter-slide {
		padding: 12px 0 25px;
		@include media('<tablet') {
			top: 67px;
			left: 0;
			width: 100%;
			height: calc(100vh - 67px);
			margin: 0;
			min-width: 0 !important;
			border: none;
			border-radius: 0;
			box-shadow: none;
			padding: 33px 30px;
			position: fixed;
			z-index: 1;
			overflow-y: auto;
			background: $white;
		}
	}

	.lead-slide-title {
		font-size: 20px;
		color: $base-text-color;
		display: block;
		padding: 0 0 28px;
		font-weight: 500;
	}

	.btn-back {
		margin: -2px 13px 0 0;
	}

	.opener-title {
		font-size: 18px;
		color: $black;

		@include media('>=tablet') {
			font-size: 12px;
			color: $secondary-text-color;
			display: block;
		}
	}

	.drop-form {
		height: 90%;

		@include media('>=tablet') {
			@include flex-horizontal-align;
			height: 100%;
			padding: 0;
		}
	}

	.btn-holder {
		padding: 30px 0;
		@include media('>=tablet') {
			position: absolute;
			bottom: -2px;
			left: 0;
			padding-top: 0;
		}
	}

	.submit,
	button[type="submit"] {
		font-size: 12px;

		@include media('<tablet') {
			width: 100%;
			font-size: 15px;
			font-weight: 500;
			padding: 18px 15px;
		}
	}
}

.icon-change {
	font-size: 50px;
}

.filter-holder {
	&.active {
		.filter-slide {
			opacity: 1;
			visibility: visible;
		}
	}

	.filter-slide {
		opacity: 0;
		visibility: hidden;
	}
}

.filter-frame {
	@include media('>=tablet') {
		display: flex;
		flex: 1 0;
		border: 1px solid $lines-light-gray;
		border-radius: 11px;
	}

	.open-close {
		position: relative;

		&.active {
			.opener {
				&:before {
					transform: rotate(0);

					@include media('>=tablet') {
						transform: translateY(-50%) rotateX(180deg);
					}
				}
			}

			.slide {
				opacity: 1;
				visibility: visible;
			}
		}

		.opener {
			position: relative;
			padding: 0 0 0 20px;

			@include media('>=tablet') {
				min-height: 77px;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				padding: 0 35px 3px 25px;
			}

			&:before{
				position: absolute;
				top: 5px;
				left: -1px;
				content: "\e918";
				font-family: icomoon;
				font-size: 6px;
				color: inherit;
				transition: transform $animation-speed;
				transform: rotate(-90deg);

				@include media('>=tablet') {
					left: auto;
					right: 24px;
					font-size: 5px;
					top: calc(50% + 4px);
					transform: translateY(-50%);
				}
			}
		}

		.slide {
			max-height: 320px;
			width: 246px;
			padding: 14px 20px 0;

			&:before {
				@include media('<tablet') {
					display: none;
				}
			}

			@include media('<tablet') {
				border: none;
				box-shadow: none;
				min-width: 0;
				position: static;
				max-height: none;
				padding: 26px 0 12px;
				margin: 0;
				width: 100%;
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	.opener-align {
		padding: 0 105px 0 0;
		@include media('>=tablet') {
			padding: 0;
		}
	}

	.list-scroll {
		@include media('>=tablet') {
			overflow-y: auto;
			height: 194px;
			padding: 12px 0 0;
		}
	}

	.current-value {
		font-weight: 500;
		padding: 11px 0 0;
	}


	.filter-col {
		border: solid $lines-light-gray;
		border-width: 1px 0 0;
		margin: 0 -30px;
		padding: 25px 30px;

		&:last-child {
			@include media('>=tablet') {
				border: none;
			}

			.current-value {
				font-weight: normal;
			}
		}

		&:only-child {
			@include media('>=tablet') {
				border: none;
			}
		}

		@include media('>=tablet') {
			width: 33.33%;
			border-width: 0 1px 0 0;
			margin: 0;
			padding: 0
		}
	}

	.bottom-btn {
		@include media('>=tablet') {
			@include flex-horizontal-align;
			background: $bg-light-gray;
			padding: 16px 20px;
			margin: 0 -20px;
			width: calc(100% + 40px);
		}
	}

	.group-title {
		display: block;
		font-weight: 500;
		color: $secondary-text-color;
		padding: 14px 0 12px;
	}

	label[for*="-all"] + .group-title {
		padding-top: 26px;
	}

	.list {
		li {
			padding: 0 0 13px;
			@include media('>=tablet') {
				padding: 0 0 12px;
			}
		}
	}

	.search-box {
		position: relative;
		margin: 0 0 22px;

		@include media('>=tablet') {
			margin: 0 -20px;
			padding: 0 20px 7px;
			border-bottom: 1px solid $bg-light-gray;
		}

		.btn-search {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 18px;

			@include media('>=tablet') {
				top: calc(50% - 4px);
			}
		}
	}

	.reset-filters {
		position: absolute;
		top: 3px;
		right: 0;
		
		@include media('>=tablet') {
			position: static;
			margin: 0 0 0 20px;
		}
	}

	.fake-label {
		font-size: $medium-font-size;
		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}
}

.resrt-filter-block {
	width: 17%;
	text-align: right;
	padding: 0 0 0 10px;
}

.desktop-static {
	>.opener,
	>.filter-btn {
		@include media('>=tablet') {
			display: none;
		}
	}

	.desktop-static-slide {
		@include media('>=tablet') {
			position: static !important;
			background: transparent;
			box-shadow: none;
			border-radius: 0;
			border: none;
			padding: 0;
			margin: 0;
		}

		&:before {
			@include media('>=tablet') {
				display: none;
			}
		}
	}

	.filter-slide,
	.desktop-static-slide {
		opacity: 1;
		visibility: visible;
	}
}

.search-holder {
	&.active {
		.serach-slide {
			opacity: 1;
			visibility: visible;
		}
	}

	.serach-slide {
		opacity: 0;
		visibility: hidden;
	}
}