.list {
	@extend %listreset;
	font-size: $medium-font-size;

	&:last-child {
		margin-bottom: -15px;
	}

	&.delete-items {
		li {
			position: relative;
			padding-right: 15px;

			.btn-remove {
				position: absolute;
				top: 0;
				right: -3px;

				@include media('>=tablet') {
					top: -3px;
					right: -5px;
				}
			}
		}
	}

	@include media('>=tablet')  {
		font-size: $font-size-base;
	}

	li {
		padding: 0 0 25px;

		&.active >a {
			font-weight: 700;
		}

		&.selected {
			.fake-switch-label,
			>a {
				font-weight: 500;
			}
		}
		
		>a {
			white-space: normal;
			text-decoration: none;
			color: inherit;
			display: inline-block;
			vertical-align: top;
			text-decoration: none;
			transition: color $animation-speed;
			
			&:hover {
				color: $purple;
			}
		}

		a.btn-remove {
			@include flex-central-align;
			color: $secondary-text-color;
		}
	}

}

.tooltip-circle-list {
	@extend %listreset;
	width: 100%;

	li {
		position: relative;
		padding: 0 0 7px 12px;

		&:first-child {
			&:before {
				background:$purple; 
			}
		}

		&:nth-child(2) {
			&:before {
				background:$light-red; 
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 7px;
			left: 0;
			width: 6px;
			height: 6px;
			border-radius: 100%;
		}
	}
}

.selected-company-list {
	@extend %listreset;
	margin: 0 -4px;
	font-weight: 500;
	

	li {
		display: inline-block;
		vertical-align: top;
		margin: 0 2px;
		background: $bg-light-gray;
		padding: 9px 15px;
		text-align: center;
		border-radius: 22px;
	}

	.btn-remove {
		font-size: $secondary-size-base;
		color: $purple;
		width: auto;
		height: auto;

		&:after {
			font-size: 7px;
			color: $input-border-color;
			margin: 0 0 0 11px;
			transition: color $animation-speed;
		}

		&:hover {
			&:after {
				color: $purple;
			}
		}
	}
}

.tooltip-time-list {
	@extend %listreset;
	text-align: center;
}

.radio-list {
	@extend %listreset;
	padding: 0 0 20px;

	@include media('>=tablet') {
		padding: 0 34px 0 0;
	}

	li {
		display: inline-block;
		vertical-align: top;
	}

	li + li {
		padding-left: 12px;
	}
}

.step-list {
	@extend %listreset;
	@include flex-horizontal-align;
	position: relative;
	padding: 50px 0 0;
	font-size: 20px;
	font-weight: 500;
	color: $input-border-color;

	@include media('>=tablet') {
		padding: 0;
		font-weight: 700;
		font-size: 12px;
	}

	li {
		@include flex-horizontal-align;

		&:last-child {
			.dots {
				display: none;
			}
		}

		&.active-step {
			color: $purple;

			.step-title {
				display: block;
			}

			.circle {
				background: $bg-light-gray;
				&:before {
					border-color: $purple;
				}
			}
		}

		&.done-step {
			color: $purple;

			.step-title {
				display: none;
			}

			.circle {
				background: $bg-light-gray;
				&:before {
					border: none;
					content: "\e902";
					font-family: 'icomoon'; 
				}
			}
		}
	}

	.circle {
		@include flex-central-align;
		width: 24px;
		height: 24px;
		border-radius: 100%;

		&:before {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 100%;
			border: 1.5px solid $secondary-text-color;
			font-size: 6px;
			line-height: 1;
		}
	}

	.step-title {
		display: none;
		position: absolute;
		top: 0;
		left: 9px;

		@include media('>=tablet') {
			padding: 0 8px 0 11px;
			position: static;
		}
	}

	.dots {
		letter-spacing: 4px;
		padding: 0 2px 9px 6px;
		display: inline-block;
		text-align: center;

		@include media('>=tablet') {
			letter-spacing: 7px;
			padding: 0 17px 7px 25px;
		}
	}
}

.btn-list {
	@extend %listreset;

	@include media('>=tablet') {
		margin: 0 -8px -8px;
	}

	li {
		padding: 0 0 10px;

		@include media('>=tablet') {
			padding: 0 8px 8px;
			display: inline-block;
			vertical-align: top;
		}
	}
}

.video-requirements {
	margin: 0;
	padding: 0 0 19px;
	color: $secondary-text-color;

	@include media('>=phone') {
		font-size: $secondary-size-base;
		padding: 0 0 12px;
	}

	div {
		@include flex-horizontal-align;
		padding: 0 0 13px;

		@include media('>=phone') {
			padding: 0 0 12px;
		}
	}

	dt, dd {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin: 0;

		@include media('>=phone') {
			width: auto;
		}
	}
	dd {
		color: $base-text-color;
		text-align: right;
		padding-left: 3px;

		@include media('>=tablet') {
			text-align: left;
			color: $secondary-text-color;
			font-weight: 500;
		}
	}
}

.modal-list {
	@extend %listreset;

	li {
		@include flex-horizontal-align;
		cursor: pointer;
		padding: 13px 27px 14px;
		margin: 0 0 2px;
		position: relative;

		&.active,
		&:hover  {
			&:before {
				opacity: 1;
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			background: $bg-light-gray;
			left: 0;
			right: 0;
			opacity: 0;
			z-index: -1;
			transition: opacity $animation-speed;
		}

		@include media('>=tablet')  {
			padding: 12px 60px 13px;
		}
	}

	.img-box {
		width: 83px;
		height: 56px;
		overflow: hidden;
		border-radius: 7px;
		position: relative;
		margin: 0 25px 0 0;

		@include media('>=tablet') {
			margin: 0 27px 0 0;
		}

		img {
			width: 100%;
		}

		.play-video {
			background: $purple;
			width: 24px;
			height: 24px;
			font-size: 10px;

			&:before {
				margin: 0;
			}

			@include media('>=tablet') {
				width: 24px;
				height: 24px;
			}
		}
	}

	.name {
		display: block;
		padding: 0 0 9px;
		font-weight: 500;
		font-size: 16px;
	}

	.size {
		color: $secondary-text-color;
		font-size: $font-size-base;
	}
}

.numbered-list {
	@extend %listreset;
	counter-reset:  item;

	li {

		&:before {
			content: counter(item) ') ';
			counter-increment: item;
		}
	}
}

.definition-list {
	margin: 0;
	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
	}

	dt {
		margin: 0 0 10px;
		font-weight: 500;
		color: $secondary-text-color;

		@include media('>=tablet') {
			margin: 0 0 28px;
			font-weight: normal;
			font-size: $secondary-size-base;
			margin: 0;
			width: 30%;
			max-width: 182px;
		}
	}

	dd {
		margin: 0 0 15px;

		@include media('>=tablet') {
			margin: 0 0 28px;
			padding: 0 0 0 10px;
			width: 70%;
		}
	}
}

.definition-list-inline {
	margin: 0;
	div {
		padding: 0 0 5px;
	}
	dt, dd {
		display: inline-block;
		vertical-align: top;
		margin: 0;
	}
	dd {
		font-weight: 500;
	}
}

.payment-radio-list {
	@extend %listreset;
	@include flex-horizontal-align;
	margin: 0 -5px;
	white-space: nowrap;
	overflow-x: auto;

	li {
		padding: 0 5px;
	}

	label {
		@include flex-central-align;
		flex-flow: column nowrap;
		border: 2px solid $lines-light-gray;
		border-radius: 10px;
		padding: 5px;
		width: 150px;
		height: 103px;
		font-weight: $base-font-weight;
		cursor: pointer;
		transition: border-color $animation-speed, font-weight $animation-speed;

		@include media('>=tablet') {
			width: 160px;
		}

		span {
			width: 100%;
			text-align: center;
		}
	}

	input[type="radio"]:checked + label {
		border-color: $purple;
		font-weight: 700;
	}

	.icon-box {
		@include flex-central-align;
		height: 44px;
		margin: 0 0 8px;

		img {
			max-width: 100%;
		}
	}
}

.column-order-list {
	@extend %listreset;
	font-size: 15px;

	li {
		@include flex-horizontal-align;
		justify-content: space-between;
		border: 1px solid $lines-light-gray;
		border-radius: 6px;
		margin: 0 0 8px;
		padding: 10px 14px 9px 32px;
		position: relative;
		cursor: grab;

		&:before {
			position: absolute;
			top: calc(50% - 6px);
			left: 13px;
			font-family: 'icomoon';
			content: "\e93b";
			font-size: 12px;
			color: $secondary-text-color;
		}

		.btn-remove {
			margin: 0 0 0 7px;
			font-size: 11px;
		}
	}
}

.chart-legend-list {
	@extend %listreset;
	font-size: $secondary-size-base;

	li {
		display: inline-block;
		vertical-align: top;
	}

	li + li {
		padding: 0 0 0 15px;
	}

	.icon {
		display: inline-block;
		vertical-align: middle;
		width: 8px;
		height: 8px;
		margin: 0 3px 3px 0;
		border-radius: 2.5px;
	}
}