.modal{
	padding: 30px 20px 156px;
	position:absolute;
	left:-9999px;
	top:-9999px;
	background:#fff;
	z-index:1000;
	width: 100%;
	min-height: calc(100% - 54px);
	font-size: 15px;
	margin: 50px 0 0;

	&.del-modal {
		@include flex-horizontal-align;
		text-align: center;

		@include media('>=tablet') {
			display: block;
			text-align: left;
			line-height: 1.9;
			padding: 50px 60px;
		}

		h2 {

			@include media('>=tablet') {
				margin: 0 0 27px;
			} 
		}

		.modal-button {
			@include media('>=tablet') {
				padding: 36px 0 0;
			}

			.btn {

				&.btn-red {
					@include media('>=tablet') {
						padding: 10px;
					}
				}
			}
		}
	}

	&.video-modal {
		padding: 39px 0;
		overflow: hidden;

		@include media('>=tablet') {
			max-height: 471px;			
		}

		.close {
			@include media('<tablet') {
				margin-left: 29px
			}
		}

		h2 {
			margin: 0 28px 40px;

			@include media('>=tablet') {
				margin: 0 60px 26px;
			}
		}

		.modal-list {
			overflow-y: auto;
			@include media('>=tablet') {
				height: 283px;
			}
		}
	}

	&.modal-lg {
		font-size: $font-size-base;
		line-height: 1.75;
		padding: 38px 29px 156px;

		@include media('>=tablet') {
			max-width: 926px;
			max-height: 698px;
			overflow: hidden;
			width: 100%;
			padding: 58px 60px;
		}

		h2 {
			margin: 0 0 50px;

			@include media('>=tablet') {
				margin: 0 0 49px;
			}
		}

		h3 {
			font-weight: 500;
			font-size: 16px;
			margin: 0 0 21px;

			@include media('>=tablet') {
				font-size: 16px;
			}
		}

		.modal-content {
			overflow-y: auto;
			height: 640px;
			padding: 0 0 20px;
		}

		.list, p {
			font-size: $font-size-base;
		}

		p {
			max-width: 600px;
		}

		.list {
			padding: 0 0 54px;

			@include media('>=tablet') {
				padding: 0 0 41px;
			}
			li {
				padding: 0 0 2px;

				@include media('>=tablet') {
					padding: 0 0 5px;
				}
			}
		}

		.video-requirements {
			color: $base-text-color;
			padding: 0 0 30px;

			@include media('>=phone') {
				font-size: $font-size-base;
			}

			div {
				padding: 0 0 5px;
				@include media('>=phone') {
					padding: 0 0 5px;
				}
			}

			dt, dd {
				width: auto;
			}

			dd {
				font-weight: 500;
				text-align: left;
				@include media('>=tablet') {
					color: $base-text-color;
				}
			}
		}

		.numbered-list {
			padding: 7px 0 0;
		}
	}

	&.save-template {
		.form-row {
			padding: 16px 0 47px;
		}

		label, .label {
			@include media('>=tablet') {
				font-size: $secondary-size-base
			}
		}

		.modal-button {		
			.btn {
				&.btn-green {
					min-width: 172px;
					@include media('>=tablet') {
						width: 35%;
					}
				}
			}

			.btn + .btn {
				@include media('>=tablet') {
					margin: 0 0 0 37px;
				}
			}
		}
	}

	&.template-options-modal {
		padding: 45px 0;

		.close {
			@include media('<tablet') {
				margin-left: 29px
			}
		}

		h2 {
			margin: 0 28px 40px;

			@include media('>=tablet') {
				margin: 0 60px 22px;
			}
		}

		.serach-frame {
			margin-bottom: 37px; 
		}

		.modal-list {
			li {
				padding: 16px 27px 17px;
				margin: 0 0 10px;
				justify-content: space-between;

				&.active,
				&:hover {
					.btn-del {
						opacity: 1;
					}
				}
				
				@include media('>=tablet')  {
					padding: 16px 60px 15px;
				}
			}

			.btn-del {
				margin: 0 0 0 10px;
				opacity: 0;
				transition: opacity $animation-speed;

				@include media('>=tablet') {
					margin: 0 -10px 0 10px;
				}
			}
		}
	}

	&.change-password-modal {
		@include media('>=tablet') {
			padding: 58px 60px 43px;
		}

		form {
			max-width: 452px;

			.form-row {
				padding: 16px 0 10px;
			}

			.modal-button {
				@include media('>=tablet') {
					padding-top: 57px;
				}
			}
		}
	}

	&.password-recovery-modal {

		h2 {
			margin: 0 0 31px;
		}

		p {
			font-size: $font-size-base;
			line-height: 1.9;
			@include media('>=tablet') {
				font-size: $font-size-base;
				max-width: 90%;
			}
		}

		.modal-button {
			@include media('>=tablet') {
				padding-top: 35px;
			}

			.btn {
				&.btn-green {
					@include media('>=tablet') {
						width: 39%;
					}
				}
			}
		}
	}

	&.date-modal {
		max-width: 818px;
		width: 100%;
		padding: 0;

		.modal-content {
			position: relative;
			&:before {
				@include media('>=tablet') {
					content: '';
					width: 1px;
					background: $lines-light-gray;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 50%;
				}
			}

			@include media('>=tablet') {
				display: flex;
			}
		}

		.date-col {
			padding: 33px 40px;
			@include media('>=tablet') {
				width: 50%;
			}
		}

		.date-title {
			font-size: 17px;
			font-weight: 500;
			display: block;
			padding: 0 0 20px;
			text-align: center;
		}

		.modal-button {
			background: $bg-light-gray;
			padding: 22px 45px;
			border-radius: 0 0 17px 17px;

			.btn {

				@include media('>=tablet') {
					font-size: 13px;
					min-width: 139px;
					width: auto;
					padding: 12px 10px 13px;
				}
			}

			.btn + .btn {
				@include media('>=tablet') {
					margin: 0 0 0 18px;
				}
			}
		}
	}

	&.сustomize-table-modal {
		padding-bottom: 170px;
		@include media('>=tablet') {
			max-height: 567px;
			padding: 45px 58px;
			padding-bottom: 45px;
		}

		@include media('>=desktop') {
			width: 818px;
		}

		h2, .h2 {
			@include media('>=tablet') {
				margin: 0 0 43px;
			}
		}

		.modal-two-column {
			@include media('>=tablet') {
				display: flex;
				margin: 0 -43px;
			}
		}

		.col {
			padding: 20px 0;

			&:first-child {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 1px;
					background: $lines-light-gray;

					@include media('>=tablet') {
						height: 322px;
						width: 1px;
						top: 0;
						bottom: auto;
					}
				}
			}

			@include media('>=tablet') {
				width: 50%;
				padding: 0 15px;
			}

			@include media('>=desktop') {
				padding: 0 23px 0 43px;
			}
		}

		.col-title {
			font-weight: $base-font-weight;
			display: block;
			padding: 0 0 26px;
			color: $secondary-text-color;
			font-size: 15px;
		}

		.column-order-list,
		.list {
			@include media('>=tablet') {			
				height: 317px;
				overflow-y: auto;
			}
		}

		.list {
			li {
				padding: 0 0 20px;
			}
		}

		.fake-input,
		.check-all {
			margin-right: 14px;
		}

		.modal-button {
			bottom: 0;
			background: $bg-light-gray;
			margin: 0 -20px;
			padding: 21px 20px 22px;
			border-radius: 0  0 17px 17px;

			@include media('>=tablet') {
				margin: 0 -58px;
				padding: 21px 58px 22px;
			}

			.btn {
				width: 100%;
				font-size: $secondary-size-base;

				@include media('>=tablet') {
					min-width: 139px;
					width: auto;
					padding: 13px 10px;
				}
			}

			.btn + .btn {
				margin: 7px 0 0;
				@include media('>=tablet') {
					margin: 0 0 0 19px;
				}
			}
		}
	}

	@include media('>=tablet') {
		margin: 0;
		padding: 58px 60px;
		width: 608px;
		border-radius: 17px;
		min-height: 0;
		height: auto;
		font-size: $font-size-base;
		box-shadow: 0px 18px 50px rgba(94, 101, 140, 0.15);
	}

	h2 {
		font-size: 22px;
		line-height: 1.4;
		font-weight: 700;

		@include media('>=tablet') {
			font-size: 23px;
		}
	}

	.serach-frame {
		margin: 0 20px 26px;
		@include media('>=tablet') {
			margin: 0 60px 45px;
		}
	}

	.form-row {

		&.has-help-link {
			position: relative;

			label, .label {
				padding-right: 95px;
			}
		}
		.help-text {
			padding-top: 20px;
		}

		.help-link {
			position: absolute;
			top: 20px;
			right: 0;
		}
	}
}

.modal-label {
	display: block;
	font-weight: 500;
	color: $secondary-text-color;
	padding: 0 0 12px;
}

.modal-button {
	position: absolute;
	bottom: 15px;
	left: 20px;
	right: 20px;
	@include media('>=tablet') {
		@include flex-horizontal-align;
		position: static;
		padding: 20px 0 0;
	}

	.btn {
		width: 100%;
		margin: 0 0 14px;

		@include media('>=tablet') {
			width: 40%;
			margin: 0;
		}
	}

	.btn + .btn,
	.submit + .btn {
		@include media('>=tablet') {
			margin: 0 0 0 23px;
		}
	}
}

.modal h2{
	margin:0 0 20px;
}
.modal .close,
.modal .close2{
	@include flex-central-align;
	cursor:pointer;
	background: $light-gray;
	color: $secondary-text-color;
	font-size: 12px;
	width: 41px;
	height: 41px;
	border-radius: 100%;
	margin: 0 0 15px;
	font-weight: normal;
	text-decoration: none;
	transition: color $animation-speed;

	&:before{
		content: "\e91e";
		font-family: 'icomoon';

		@include media('>=tablet') {
			content: "\e904";
		}
	}

	&:hover {
		color: $base-text-color;
	}

	@include media('>=tablet') {
		position: absolute;
		top: 22px;
		right: 23px;
		margin: 0;
	}
}
