.notification-wrap {
	min-width: 80%;
	max-width: 550px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&.md-width {
		@include media('>=tablet') {
			max-width: 650px;
		}

		.notification {
			&.small-font {
				@include media('>=tablet') {
					p {
						margin-right: 25px;
					}
				}
			}
		}
	}

	@include media('>=tablet') {
		min-width: 487px;
		transform: translate(0);
		top: auto;
		left: auto;
		bottom: 50px;
		right: 50px;
		padding: 22px 26px 22px 30px;
	}

	.notification + .notification {
		margin-top: 15px;
	}
}

.notification {
	@include flex-horizontal-align;
	justify-content: space-between;
	background: $purple;
	border-radius: 13px;
	padding: 20px;
	color: $white;
	font-size: $secondary-size-base;
	line-height: 1.65;
	width: 100%;

	&.small-font {
		font-size: $secondary-size-base;

		p {
			margin: 0 10px 0 0;
			font-size: $secondary-size-base;
			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}
		}

		.notification-btn  {
			padding: 6px 7px;
			font-size: $font-size-base;
		}
		.notification-btn + .notification-btn {
			margin-left: 12px;
		}
	}

	p {
		margin: 0 25px 0 0;
	}
}