.pagination-frame {
	@include media('>=tablet') {
		@include flex-horizontal-align;
		justify-content: space-between;
	}

	.pagination-nav {
		padding: 0 0 27px;

		@include media('>=tablet') {
			padding: 0;
		}
	}

	.pagination-list {
		display: inline-block;
		vertical-align: middle;
		padding: 0 24px;

		@include media('>=tablet') {
			padding: 0 31px 0 0;
		}
	}

	.btn-next,
	.btn-prev {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		color: $purple;
		font-weight: 500;

		&:after {
			content: "\e900";
			font-family: 'icomoon';
			font-size: 8px;
			display: inline-block;
			vertical-align: middle;
			padding: 0 0 0 9px;
			transition: padding $animation-speed;
		}

		&:hover {
			&:after {
				padding: 0 0 0 12px;
			}
		}
	}

	.btn-prev {
		&:after {
			display: none;
		}
		&:before {
			content: "\e900";
			font-family: 'icomoon';
			font-size: 8px;
			display: inline-block;
			vertical-align: middle;
			padding: 0 0 0 9px;
			transition: padding $animation-speed;
			transform: scale(-1);
		}
	}

	.open-close {
		font-weight: 500;
	}

	.has-arrow {
		&:after {
			content: "\e903";
			font-size: 5px;
			margin: 0 0 0 6px;

			@include media('>=tablet') {
				margin: 0 0 0 6px;
			}
		}
	}

	.pages-wrap {
		@include flex-horizontal-align;
		justify-content: space-between;

		@include media('>=tablet') {
			flex-direction: row-reverse;
			justify-content: flex-start;
		}
	}

	.сustomize-table {
		display: inline-block;
		vertical-align: top;
		font-weight: normal;
		padding: 0 0 0 15px;

		@include media('>=tablet') {
			padding: 0 29px 0 0;
		}

		.opener {
			color: $purple;
		}
	}
}

.pagination-list {
	@extend %listreset;
	font-size: 13px;
	font-weight: 500;
	color: $secondary-text-color;

	li {
		display: inline-block;
		vertical-align: top;

		&.active {
			a {
				background: $bg-light-gray;
				color: $purple;
			}
		}

		a:hover {
			background: $bg-light-gray;
			color: $purple;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
		padding: 5px 8px 6px;
		background: transparent;
		border-radius: 4px;
		display: block;
		transition: background $animation-speed, color $animation-speed;

		@include media('>=tablet') {
			padding: 6px 10px 7px;
		}
	}

	span {
		padding: 6px 5px 7px;
		display: block;
	}
}