input[name="tabs-radio"] {
	position:absolute;
	left:-99999px;
	top:0;
	opacity:0;
	z-index: -1;
}

.banners-frame {
	position: relative;
	
	.map-frame {
		display: none;
	}

	.banners-table {
		display: block;
	}

	input[name="tabs-radio"]:checked + .tab-label-box .tabs-label {
		color: $base-text-color;
		font-weight: 500;

		@include media('>=desktop') {
			background: $white;
		}

		i {
			color: $purple;
		}
	}

	.tab-label-box {
		background: $bg-light-gray;
		display: inline-block;
		vertical-align: top;
		margin-right: -3px;
		width: 50%;
		padding: 8px 2px;
		height: 57px;

		&.map-view {
			@include media('>=desktop') {
				border-radius: $lg-border-radius 0 0 0;
				padding: 11px 7px 11px 12px;
				left: 0;
			}
		}

		&.list-view {
			border-left: 1px solid $lines-light-gray;
			@include media('>=desktop')  {
				padding: 11px 12px 11px 1px;
				border: none;
				left: 77px;
			}
		}

		@include media('>=desktop') {
			margin-top: -80px;
			padding: 11px 7px;
			width: auto;
			height: auto;
			position: absolute;
		}
	}

	#map:checked ~ .banners-content .map-frame {display: block;}
	#map:checked ~ .banners-content .banners-table {display: none;}
	#list:checked ~ .banners-content .banners-table {display: block;}
	#list:checked ~ .banners-content .map-frame {display: none;}

	.tabs-label {
		@include flex-central-align;
		width: 100%;
		height: 100%;
		cursor: pointer;
		text-align: center;
		color: $secondary-text-color;
		padding: 9px 25px;
		transition: font-weight $animation-speed, color $animation-speed, background $animation-speed;

		@include media('>=desktop') {
			flex-flow: column nowrap;
			justify-content: space-between;
			font-size: 12px;
			padding: 10px 3px;
			width: 58px;
			height: 58px;
			border-radius: $base-border-radius;
		}

		i {
			display: inline-block;
			vertical-align: top;
			font-size: 15px;
			margin: 0 12px 0 0;
			color: $input-border-color;
			transition: color $animation-speed;

			&.icon-map-pin {
				font-size: 23px;

				@include media('>=desktop') {
					font-size: 17px;
				}
			}

			@include media('>=desktop') {
				display: block;
				margin: 0 0 5px;
				min-height: 17px;
			}
		}
	}
}

.document-frame,
.campaing-frame {
	.tabs-label {
		cursor: pointer;
		font-size: 19px;
		display: inline-block;
		vertical-align: top;
		color: $input-border-color;
		transition: color $animation-speed;
		position: absolute;
		z-index: 1;
		top: 101px;

		&.icon-list-view {
			right: -1px;

			@include media('>=desktop')  {
				right: 180px;
			}

			@include media('>=1150px') {
				right: 212px;
			}
		}

		&.icon-table-view {
			right: 40px;

			@include media('>=desktop')  {
				right: 207px;
			}

			@include media('>=1150px') {
				right: 245px;
			}
		}

		@include media('>=desktop') {
			font-size: 15px;
			top: 30px;
		}
	}

	input[name="tabs-radio"]:checked + .tabs-label {
		color: $base-text-color;
	}

	#list-view:checked ~ .caption {
		.sorting-block {
			@include media('>=desktop') {
				display: none;
			}
		}
	}
}

.campaing-frame {

	#tile-view:checked ~ .edit-campaign-panel {display: none;}

	#tile-view:checked ~ .campaing-view-content {
		.edit-campaign-panel {
			display: none;
		}

		.scroll-box {
			min-width: 0;
		}

		.campaing-view-table {
			min-width: 0;
			font-size: $font-size-base;

			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}

			.table-head {
				display: none;
			}

			.table-body {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0 -14px;
				@include media('>=tablet') {
					padding: 44px 0 0;
					justify-content: flex-start;
				}
			}

			.table-row {
				position: relative;
				border: none;
				background: $bg-light-gray;
				align-items: flex-start;
				flex-wrap: wrap;
				min-width: 320px;
				padding: 27px 20px 19px;
				margin: 0 14px 20px;
				border-radius: 18px;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 70px;
					background: #f3f6fc;
					border-radius: 0 0 18px 18px;
				}

				@include media('>=350px') {
					width: 320px;
					min-width: 0;
				}

				@include media('>=tablet') {
					width: 290px;
					margin: 0 14px 28px;
				}
			}

			.table-cell {
				min-height: 0;
				padding: 0;
				position: relative;

				&.name-cell {
					padding: 0 0 23px;
					order: 1;
					width: 100%;
					position: relative;
					border-bottom: 1px solid $lines-light-gray;

					.sub-cell {
						&:first-child {
							display: none;
						}

						&:nth-child(2) {
							width: 100%;
							flex-grow: 1;
							margin-right: -100%;
							padding: 0 0 6px 95px;
							align-self: flex-end;
							color: $secondary-text-color;
							@include media('>=tablet') {
								font-size: 12px;
							}
						}

						&:nth-child(3) {
							width: 100%;
							flex-grow: 1;
						}
					}
				}

				&.data-cell {
					order: 2;
					width: 100%;
					text-align: left;
					flex-wrap: wrap;
					padding: 24px 0 10px;

					@include media('>=tablet') {
						padding: 27px 0 10px;
					}
					.sub-cell {
						padding: 0 0 13px;
						flex: 1 0 100%;
						display: flex;
						justify-content: space-between;

						&.week-cell {
							padding: 16px 0 35px;
							@include media('>=tablet') {
								padding: 14px 0 38px;
							}
						}

						@include media('>=tablet') {
							padding: 0 0 14px;
						}
					}
				}

				&.status-cell {
					order: 3;
					width: 50%;

					.status {
						min-width: 101px;
						background: $white;
						border-radius: 2em;
						padding: 6px 5px;
						font-size: $font-size-base;

						@include media('>=tablet') {
							font-size: $secondary-size-base;
						}
					}
				}

				&.btn-cell {
					order: 4;
					width: 50%;
					transform: translateX(11px);

					.btn-edit, .btn-del, .btn-archive {
						background: #f3f6fc;
						border: 1px solid $lines-light-gray;
					}
				}

				.has-img {
					.img-box {
						width: 75px;
						height: 52px;
						margin: 0 21px 0 0;
					}

					.campaign-name {
						padding: 0 0 19px;
						font-size: $medium-font-size;

						@include media('>=tablet') {
							font-size: $font-size-base;
						}
					}
				}
			}

			.week-cell {
				display: flex;
				font-size: $secondary-size-base;
				font-weight: 500;

				@include media('>=tablet') {
					font-size: 11px;
				}

				.day-item {
					position: relative;
					cursor: pointer;
					padding: 0 2px;

					&:hover {
						.time-tooltip {
							opacity: 1;
							pointer-events: auto;
						}
					}

					&.full-day {
						.day-circle {
							background: $green;
						}
					}

					&.half-day {
						.day-circle {
							border-color: $green;
							border-style: solid;
							border-width: 0 0 0 6px;
						}
					}

					&.day-off {
						cursor: default;
						color: $secondary-text-color;
						.day-circle {
							background: $lines-light-gray;
						}
					}
				}

				.day-circle {
					width: 12px;
					height: 12px;
					border-radius: 100%;
					background: $lines-light-gray;
					margin: 0 0 9px;
				}

				.time-tooltip {
					pointer-events: none;
					opacity: 0;
					min-width: 117px;
					padding: 10px 5px;
					background: $base-text-color;
					color: $white;
					font-size: 15px;
					border-radius: 11px;
					position: absolute;
					z-index: 1;
					top: calc(100% + 15px);
					left: 50%;
					transform: translateX(-50%);
					transition: opacity $animation-speed;

					&:before {
						content: '';
						position: absolute;
						top: -10px;
						left: calc(50% - 15px);
						background-image: url(../images/chart-hover.svg);
						background-repeat: no-repeat;
						background-size: contain;
						width: 30px;
						height: 10px;
						transform: scaleY(-1);
					}

					@include media('>=tablet') {
						font-size: $secondary-size-base;
					}
				}
			}

			.launch-action {
				margin: 0 2px 0 0;
			}

			.slide {
				margin-top: 0;
				margin-bottom: 7px;
				width: 320px;
				bottom: 100%;
				font-weight: normal;
				right: -9px;

				@include media('>=tablet') {
					right: -10px;
					left: auto;
					top: auto;
					width: 292px;
				}

				&:before {
					left: auto;
					right: 18px;
					bottom: -8px;
					top: auto;
					transform: scaleY(-1);
				}
			}
		}

		.cell-title  {
			display: inline-block;
			vertical-align: top;
			color: $secondary-text-color;

			&.small-font {
				@include media('>=tablet') {
					font-size: 12px;
				}
			}

			@include media('>=tablet') {
				font-size: 13px;
			}
		}
	}
	
	#list-view:checked ~ .campaing-view-content {
		.cell-title {
			display: none;
		}

		.week-cell {
			display: none;
		}
		.campaing-view-table {
			@include media('<tablet') {
				padding-top: 4px;
			}

			.table-cell {
				&.name-cell {
					@include media('<tablet') {
						width: 26.8%;
					}

					.sub-cell {
						&:first-child {
							@include media('<tablet') {
								width: 13%;
							}
						}
						&:nth-child(2) {
							@include media('<tablet') {
								display: none;
							}
						}

						&.has-img {
							.img-box {
								@include media('<tablet') {
									width: 68px;
									height: 51px;
									margin: 0 22px 0 0;
								}
							}
						}
					}

					.campaign-name {
						@include media('<tablet') {
							font-size: 16px;
							font-weight: 500;
						}
					}
				}

				&.status-cell {
					@include media('<tablet') {
						width: 11.2%;
					}
				}
			}

			.table-body {
				@include media('<tablet') {
					padding: 4px 0 0;
				}

				.table-cell {
					@include media('<tablet') {
						padding-top: 19px;
						padding-bottom: 17px;
					}
				}
			}
		}

		.table-row {
			&:last-of-type,
			&:nth-last-of-type(2) {

				.slide {
					margin-top: 0;
					margin-bottom: 7px;
					width: 292px;
					bottom: 100%;
					font-weight: normal;

					@include media('>=tablet') {
						right: -10px;
						left: auto;
						top: auto;
					}

					&:before {
						left: auto;
						right: 18px;
						bottom: -8px;
						top: auto;
						transform: scaleY(-1);
					}
				}
			}
		}
	}
}

.document-frame {
	#list-view:checked ~ .document-view-content {
		.document-table {
			.add-document {
				display: none !important;
			}
		}
	}

	#tile-view:checked ~ .document-view-content {

		.scroll-box {
			min-width: 0;
		}

		.document-table {
			min-width: 0;
			font-size: $font-size-base;

			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}

			.table-head {
				display: none;
			}

			.table-body {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				margin: 0 -14px;
				@include media('>=tablet') {
					padding: 44px 0 0;
					margin: 0 0 0 -14px;
				}

				@include media('>=desktop') {
					margin: 0 -14px;
				}
			}

			.table-row {
				position: relative;
				border: none;
				background: $bg-light-gray;
				align-items: flex-start;
				flex-wrap: wrap;
				min-width: 320px;
				width: 100%;
				padding: 20px 27px 27px;
				margin: 0 14px 18px;
				border-radius: 18px;

				@include media('>=600px') {
					padding: 23px 32px 19px;
					width: calc(50% - 28px);
					min-width: 0;
				}

				@include media('>=desktop') {
					width: calc(33.33% - 28px);
					margin: 0 14px 28px;
				}

				@include media('>=widescreen') {
					width: calc(25% - 28px);
				}

				@include media('>=1500px') {
					width: 290px;
				}
			}

			.table-cell {
				min-height: 0;
				padding: 0;
				position: relative;
				width: 100%;

				&:first-child {
					padding: 0 0 22px;
					@include media('>=600px') {
						display: block;
						padding: 0 0 24px;
					}

					img {
						@include media('>=600px') {						
							margin: 0 0 3px;
							display: block;
						}
					}

					span {
						@include media('>=600px') {						
							display: block;
							padding: 0 0 0 5px;
						}
					}
				}

				&:nth-child(2) {
					padding: 0 0 10px;
				}

				&:nth-child(3) {
					width: 21%;
					color: $secondary-text-color;

					@include media('>=600px') {
						width: 25%;
					}
				}

				&:nth-child(4) {
					width: 79%;
					color: $secondary-text-color;

					@include media('>=600px') {
						width: 75%;
					}
				}

				&:nth-child(5) {
					position: absolute;
					top: 22px;
					right: 10px;
					width: auto;

					@include media('>=600px') {
						top: 22px;
						right: 18px;
					}
				}
			}

			.btn-download{
				@include media('<desktop') {
					font-size: 22px;
					margin: 0px 8px;
				}
			}
			.btn-del{
				@include media('<desktop') {
					font-size: 19px;
					margin: 0px 8px;
				}
			}
		}
	}
}