.report-table {
	width: 100%;

	.table-head {
		color: $secondary-text-color;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}

		.table-row {
			@include media('<tablet') {
				padding: 0;
			}
		}

		.table-cell {
			padding: 14px 0 6px;
			font-weight: 500;
			@include media('>=tablet') {
				padding: 21px 4px;
			}
		}
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		padding: 0 15px;

		.table-cell:first-child {
			@include flex-horizontal-align;
			text-align: left;
			width: 57.5%;
		}

		.table-cell:last-child{
			text-align: right;
		}

		.table-subcell {
			text-align: left;

			&.company-cell {
				width: 23.5%;
			}

			&.billboard-cell {
				width: 22.5%;
			}

			&.address-cell {
				flex: 1 0;
			}

			&:only-child {
				width: 100%;
			}
		}
	}

	.table-cell {
		padding: 15px 4px 6px;
		white-space: normal;
		width: 10.625%;
		text-align: center;

		@include media('>=tablet') {
			padding: 22px 4px;
		}
	}

	.table-row.sumary-row {
		background: $bg-light-gray;
		font-weight: 700;
		border: none;

		.table-cell {
			padding-top: 13px;
			padding-bottom: 12px;

			&:first-child {
				font-weight: 500;
			}

			@include media('>=tablet') {
				padding-top: 11px;
				padding-bottom: 14px;
			}
		}
	}

	.sub-text {
		display: block;
		color: $secondary-text-color;
		font-size: 13px;
		padding: 8px 0 0;
	}
}

.user-table {
	font-size: 15px;
	padding: 0 0 38px;
	min-width: 1070px;

	@include media('>=tablet') {
		font-size: $secondary-size-base;
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		margin: 0 -5px;
	}

	.table-head {
		font-size: $font-size-base;
		color: $secondary-text-color;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 0 12px;
			font-weight: 500;
			@include media('>=tablet') {
				padding: 29px 4px 24px;
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		padding: 14px 5px;
		min-height: 62px;

		&:first-child {
			width: 21.4%;
		}
		&:nth-child(2) {
			width: 18.7%;
		}
		&:nth-child(3) {
			width: 17.2%;
		}
		&:nth-child(4) {
			width: 34.7%;
		}
		&:nth-child(5) {
			width: 8%;
		}

		&.sorting-cell {
			&:before {
				@include media('<tablet') {
					margin: 3px 5px 0;
				}
			}
		}

		@include media('>=tablet') {
			padding: 10px 5px 14px;
			min-height: 86px;
		}
	}

	.user-status {
		position: relative;

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin: 0 6px 0 0;
			border-radius: 100%;
			width: 6px;
			height: 6px;
		}

		&.active {
			&:before {
				background: -webkit-linear-gradient(#33CE9B 0%, #54DBA4 100%);
				background: -o-linear-gradient(#33CE9B 0%, #54DBA4 100%);
				background: linear-gradient(#33CE9B 0%, #54DBA4 100%);
			}
		}

		&.inactive {
			&:before {			
				background: #ff6a6a;
				color: $secondary-text-color;
			}
		}
	}

	.client-item {
		display: inline-block;
		vertical-align: middle;
		padding: 0 18px 0 0;
	}

	.user-btn {
		@include flex-horizontal-align;
		justify-content: flex-end;
	}

	.email {
		text-decoration: none;
		font-weight: 500;
		color: $base-text-color;
		transition: opacity $animation-speed;

		&.lead {
			&:after {
				font-family: 'icomoon';
				content: "\e939";
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 5px;
				color: $light-red;
				font-size: 9px;
			}
		}

		&:hover {
			opacity: 0.7;
		}

		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}
}

.sorting-cell {
	color: $base-text-color;
	cursor: pointer;

	&.up {
		&:before {
			transform: scaleY(-1);
		}
	}

	&.down {
		&:before {
			transform: scaleY(1);
		}
	}

	&:before {
		content: "\e916";
		font-family: 'icomoon';
		margin: 0 5px 0 0;
		display: inline-block;
		vertical-align: middle;
		font-size: 10px;
		transition: transform $animation-speed;
	}
}

.campaing-view-table {
	font-size: 15px;
	padding: 0 0 41px;
	min-width: 1070px;

	@include media('>=tablet') {
		font-size: $secondary-size-base;
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		transition: all $animation-speed;
	}

	.table-head {
		font-size: $font-size-base;
		color: $secondary-text-color;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 0 12px;
			font-weight: 500;
			@include media('>=tablet') {
				padding: 30px 4px 24px;
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		padding: 14px 5px;
		min-height: 62px;

		&.name-cell{
			width: 27.3%;
			padding-left: 0;

			.sub-cell {
				&:first-child {
					width: 11%;
				}
				&:nth-child(2) {
					width: 16%;
				}
				&:nth-child(3) {
					width: 73%;
				}
			}
			.has-img {
				@include flex-horizontal-align;
				white-space: normal;

				.img-box {
					margin: 0 14px 0 0;
					width: 62px;
					height: 44px;
					border-radius: 4px;
					overflow: hidden;
					position: relative;
					background-size: cover;
					background-position: 50% 50%;

					.launch-action {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 22px;
						height: 22px;
						background: $purple;
						color: $white;
						margin: 0;
						transition: background $animation-speed;

						&:hover {
							background: lighten($purple, 5%)
						}
					}
				}
			}

			.campaign-name {
				font-weight: 500;
				font-size: $secondary-size-base;
				flex: 1 0;
			}
		}

		&.status-cell {
			@include flex-horizontal-align;
			width: 10.7%;
		}
		&.data-cell {
			width: 55.6%;
			text-align: center;
			.sub-cell {
				padding: 0 3px;
				flex: 1;
			}
		}
		&.btn-cell {
			width: 6.4%;
			justify-content: flex-end;

			.open-close {
				.slide {
					@include media('>=tablet') {
						min-width: 292px;
					}
				}
			}
		}

		&.sorting-cell,
		.sub-cell.sorting-cell {
			font-weight: 500;

			&:before {
				@include media('<tablet') {
					margin: 3px 5px 0;
				}
			}
		}

		@include media('>=tablet') {
			padding: 10px 5px 14px;
			min-height: 88px;
		}

		.status {
			@include flex-horizontal-align;
			white-space: normal;
		}
	}
}

.banners-table {
	@include media('>=tablet') {
		padding: 23px 0 0;
		font-size: $secondary-size-base;
	}

	.table-row {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		border-bottom: 1px solid $lines-light-gray;
		padding: 27px 50px 17px 0;
		position: relative;

		&:last-child {
			border-bottom: none;
		}

		@include media('>=desktop') {
			padding: 0;
			flex-wrap: nowrap;
		}
	}

	.table-cell {
		padding: 9px 0;

		&.size-cell {
			padding-left: 0;

			@include media('>=widescreen') {
				width: 7.3%;
			}
		}

		&.name-cell {
			width: 100%;

			@include media('>=tablet') {
				padding-right: 55px;
			}

			@include media('>=desktop') {
				width: 12.5%;
				padding-right: 0;
			}
		}

		&.address-cell {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			line-height: 1.45;

			@include media('>=desktop') {
				flex-direction: column-reverse;
				font-weight: 500;
				width: 40%;
				font-size: $font-size-base;
			}

			.city {
				display: block;
				padding: 0 0 2px;
				width: 100%;
				@include media('>=desktop') {
					padding: 4px 0 0;
					font-weight: normal;
				}
			}
		}

		&.data-cell {
			@include flex-horizontal-align;
			justify-content: space-between;
			width: 100%;

			@include media('>tablet', '<=desktop') {
				justify-content: flex-start;
				margin: 0 -5px;
			}

			@include media('>=desktop') {
				width: 36.6%;
			}

			@include media('>=widescreen') {
				width: 29.3%;
			}

			dl {
				margin: 0;
				padding: 5px 0 0;

				&.subcell-operator {
					@include media('<desktop') {
						order: 1;
					}
				}

				&.subcell-id {
					@include media('<desktop') {
						order: 3;
					}
				}

				&.subcell-gid {
					@include media('<desktop') {
						order: 2;
					}
				}

				@include media('>tablet', '<=desktop') {
					padding-right: 5px;
					padding-left: 5px;
				}

				@include media('>=desktop') {
					display: flex;
					padding: 0 3px;
				}
			}

			dt {
				color: $secondary-text-color;
			}

			dd {
				margin: 8px 0 0 0px;

				@include media('>=desktop') {
					margin: 0 0 0 3px;
				}
			}
		}

		&.btn-cell {
			padding-right: 0;
			position: absolute;
			top: 19px;
			right: 0;

			@include media('>=tablet') {
				@include flex-horizontal-align;
				flex-direction: row-reverse;
			}

			@include media('>=desktop') {
				position: static;
				width: 10.9%;
			}

			.open-close {
				.slide {
					width: 100%;
					display: flex;
					flex-direction: column-reverse;

					@include media('>=tablet') {
						align-items: center;
						flex-direction: row;
						justify-content: flex-end;
					}
				}
			}

			.btn-circle-lg + .btn-circle-lg {
				margin: 11px 0 0;

				@include media('>=tablet') {
					margin: 0 12px 0 0;
				}
			}
		}

		@include media('>=desktop') {
			padding: 23px 5px 22px;
		}
	}

	.banner-size {
		@include flex-central-align;
		font-weight: 500;
		width: 75px;
		height: 50px;
		border: 3px solid $lines-light-gray;
		border-radius: 6px;
		white-space: nowrap;
	}

	.name {
		font-weight: 500;
		display: block;
		font-size: 17px;
		padding: 0 0 5px;

		@include media('>=desktop') {
			padding: 0 0 9px;
			font-size: $secondary-size-base;
		}

		.size {
			white-space: nowrap;
			@include media('>=widescreen') {
				display: none;
			}
		}
	}

	.description {
		color: $secondary-text-color;

		@include media('>=desktop') {
			font-size: 12px;
		}
	}

	.badge {
		margin: 0 0 0 7px;

		@include media('>=desktop') {
			margin: 0 0 0 3px;
		}
	}
}

.rate-table {
	position: relative;
	margin: 26px 0 0;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -28px;
		right: -28px;
		height: 1px;
		background: $lines-light-gray;

		@include media('>=tablet') {
			display: none;
		}
	}

	@include media('>=tablet') {
		margin: 0;
	}

	.table-head {

		.table-row {
			flex-direction: row-reverse;
			border-width: 0;
			padding: 0;

			@include media('>=tablet') {
				flex-direction: row;
				border-width: 0 0 1px 0;
			}
		}
		.table-cell {
			padding: 8px 0;

			&:first-child {
				@include media('<tablet') {
					display: none;
				}
			}
			&:nth-child(2) {
				@include media('<tablet') {
					width: 20%;
					justify-content: flex-end;
				}
			}
			&:nth-child(3) {
				@include media('<tablet') {
					width: 80%;
					justify-content: flex-start;
				}
			}

			@include media('>=tablet') {
				padding: 8px 5px;
			}
		}

		.label {
			padding: 0;
			font-size: $secondary-size-base;
			.number {
				padding: 0 2px 0 0;
			}
		}
	}

	.table-row {
		@include flex-horizontal-align;
		border: solid $lines-light-gray;
		border-width: 0 0 1px 0;
		@include media('<tablet') {
			flex-wrap: wrap;
			padding: 18px 0 12px;
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		width: 100%;
		padding: 0 0 17px;

		&:first-child {
			padding-left: 0;
			@include media('>=tablet') {
				width: 24.5%;
			}

			@include media('>=desktop') {
				width: 16.7%;
			}

			.fake-input {
				position: relative;
				top: 0;
				left: 0;

				@include media('<tablet') {
					margin: 0;
				}
			}
		}

		&:nth-child(2) {
			@include media('>=tablet') {
				width: 49%;
			}

			@include media('>=desktop') {
				width: 57.6%;
			}
		}

		&:nth-child(3) {
			padding-right: 0;
			@include media('>=tablet') {
				width: 26.5%;
			}
		}

		&.name-cell {	
			@include media('<tablet') {
				flex-direction: row-reverse;
				padding: 0 0 14px;
			}

			.sub-cell {
				&:first-child {
					width: 20%;
					text-align: right;
					@include media('>=tablet') {
						text-align: left;
					}
				}

				&:nth-child(2) {
					flex: 1 0;
				}
			}	
		}

		&.address-cell {
			display: block;
			line-height: 1.45;

			@include media('>=tablet') {
				@include flex-horizontal-align;
				flex-direction: column-reverse;
				align-items: flex-start;
				font-weight: 500;
				font-size: $font-size-base;
			}

			.city {
				@include media('>=tablet') {
					display: block;
					width: 100%;
					padding: 4px 0 0;
					font-weight: normal;
				}
			}
		}

		&.input-cell {
			color: $secondary-text-color;

			&.without-icon {
				align-items: flex-start;

				@include media('<tablet') {
					padding: 7px 0 10px;
				}

				.sub-cell {
					padding: 0;

					&:first-child {
						font-size: 15px;
						padding: 10px 16px 0 0;

						@include media('>=tablet') {
							padding: 0;
							font-size: $secondary-size-base;
						}

						@include media('>=1200px') {
							text-align: right;
							padding: 12px 0 0;
						}
					}

					&:nth-child(2) {
						@include media('>=1200px') {
							max-width: 116px;
						}
					}
				}

				.sub-cell + .sub-cell {
					@include media('>=1200px') {
						margin-left: 17px;
					}
				}
			}

			@include media('>=tablet')  {
				justify-content: flex-end;
				padding: 24px 0 13px 5px;
			}

			@include media('>=tablet', '<1199px') {
				flex-wrap: wrap;
			}

			.sub-cell {
				position: relative;
				padding: 0 0 0 35px;

				@include media('>=tablet') {
					width: 100%;
				}

				@include media('>=1200px') {
					width: 50%;
				}
			}

			.sub-cell + .sub-cell {
				margin-left: 20px;
				@include media('>=tablet', '<1199px') {
					margin-left: 0;
					margin-top: 15px;
				}
			}

			i {
				font-size: 24px;
				position: absolute;
				top: 7px;
				left: 0;
			}

			.input-has-currency {
				margin: 0 0 9px;

				@include media('>=tablet') {
					margin: 0 0 6px;
				}

				input[type='text'],
				input[type='number'],
				input[type='tel'],
				input[type='email'],
				input[type='search'],
				input[type='password'],
				textarea {
					font-size: $secondary-size-base;
					height: 38px;
					padding: 5px 10px;
					@include placeholder {
						font-size: 15px;

						@include media('>=tablet') {
							font-size: $secondary-size-base;
						}
					}
				}
			}

			dl {
				margin: 0;
				width: 100%;
				font-size: 12px;

				dt, dd {
					display: inline-block;
					vertical-align: top;
					margin: 0;
				}

				dd {
					margin: 0 11px 0 0;
					color: $purple;

					@include media('>=tablet') {
						margin: 0 8px 0 0;
					}
				}
			}
		}

		@include media('>=tablet') {
			padding: 19px 5px;
		}
	}

	.search-holder {
		@include media('>=tablet') {
			width: auto;
			height: auto;
		}

		.serach-opener,
		.close-slide {
			@include media('>=tablet') {
				display: none;
			}
		}

		.btn-search {
			@include media('>=tablet') {
				left: 0;
			}
		}

		.serach-slide {
			@include media('>=tablet') {
				position: static !important;
				display: block !important;
				margin-left: -10px;
			}
			@include media('>=tablet', '<desktop') {
				width: 330px;
			}
		}

		input[type="search"] {
			&:focus {
				@include media('>=tablet') {
					border-color: $input-border-color;
				}
			}

			@include media('>=tablet') {
				border: 1px solid transparent;
				transition: border-color $animation-speed;
				padding-left: 45px;
			}
		}
	}

	.sorting-block {
		@include flex-horizontal-align;
		width: 100%;

		@include media('>=tablet') {
			justify-content: flex-end;
		}

		.open-close-title {
			padding: 0 5px 0 0;
		}
		.open-close {
			.opener {
				font-size: $font-size-base;

				&:after {
					@include media('>=tablet') {
						margin: 0 0 0 1px;
					}
				}

				@include media('>=tablet') {
					font-size:$secondary-size-base
				}
			}

			.icon-sorting {
				@include media('<tablet') {
					margin: 7px 4px 0 0;
					font-size: 11px;
				}
			}
		}
	}

	.name {
		font-weight: 500;
		display: block;
		font-size: $medium-font-size;
		padding: 0 0 2px;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}

		@include media('>=desktop') {
			padding: 0 0 6px;
		}

		.size {
			white-space: nowrap;
		}
	}

	.description {
		color: $secondary-text-color;
		font-size: $secondary-size-base;

		@include media('>=tablet') {
			font-size: 12px;
		}
	}

	.badge {
		margin: 0 0 0 7px;
		vertical-align: top;

		@include media('>=tablet') {
			margin: 0 0 0 3px;
		}
	}
}

.time-table {
	table-layout: fixed;
	width: 100%;
	max-width: 396px;

	thead,
	tr td:first-child {
		font-size: $secondary-size-base;
		color: $secondary-text-color;

		@include media('>=tablet') {
			font-size: 12px;
		}
	}

	thead {
		td {
			padding: 2px 0;
			text-align: center;

			@include media('>=tablet') {
				padding: 9px 0;
				text-align: left;
			}
		}
	}

	td {
		border: 5px solid $white;

		&:first-child {
			width: 40px;
			border-left: 0;

			@include media('>=tablet')  {
				width: 46px;
			}
		}

		&:last-child {
			border-right: 0; 
		}

		@include media('>=tablet')  {
			border-width: 4px
		}
	}

	.fake-input {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		background: $lines-light-gray;
		width: 100%;
		min-width: 27px;
		max-width: 46px;
		height: 22px;
		margin: 0;
		border-radius: $xs-border-radius;
		border: none;
		transition: background $animation-speed;

		@include media('>=370px') {
			min-width: 36px;
		}

		@include media('>=tablet') {
			height: 20px;
		}
	}
	input[type="checkbox"] + .fake-input:before {color: $white;}

	input[type="checkbox"]:checked + .fake-input {background: $green;}
}

.client-table {
	padding: 0 0 38px;
	font-size: 15px;

	@include media('>=desktop') {
		font-size: $font-size-base;
	}

	.table-body {
		display: flex;
		flex-wrap: wrap;

		@include media('>=desktop')  {
			display: block;
		}
	}

	.table-row {
		margin: 0 0 19px;
		background: $lines-light-gray;
		border-radius: 18px;
		padding: 27px 15px;
		width: 100%;
		position: relative;

		@include media('>=phone') {
			margin: 0 10px 19px;
		}

		@include media('>=660px') {
			width: calc(50% - 20px);
		}

		@include media('>=desktop') {
			@include flex-horizontal-align;
			width: auto;
			background: none;
			border-radius: 0;
			padding: 0;
			margin: 0 -5px;
			border-bottom: 1px solid $lines-light-gray;
		}
	}

	.table-head {
		font-weight: 500;
		font-size: $secondary-size-base;
		color: $secondary-text-color;

		@include media('<desktop') {
			display: none;
		}

		.table-row {
			border-bottom: none;

			@include media('>=desktop') {
				@include flex-horizontal-align;
			}
		}

		.table-cell {
			min-height: 0;
			font-weight: 500;
			padding: 29px 4px 24px;
			flex-wrap: nowrap;
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		justify-content: space-between;
		padding: 8px 5px 9px;

		&:first-child {
			padding-right: 100px;
			padding-bottom: 21px;
			font-size: 17px;
			font-weight: 500;
			@include media('>=desktop') {
				padding-right: 5px;
				padding-bottom: 14px;
				width: 20%;
				justify-content: flex-start;
				font-size: $font-size-base;
				font-weight: 500;
			}
		}

		&:nth-child(2) {
			@include media('>=desktop') {
				width: 12%;
			}
		}

		&:nth-child(3) {
			@include media('>=desktop') {
				width: 11%;
			}
		}

		&:nth-child(4) {
			@include media('>=desktop') {
				width: 10%;
			}
		}

		&:nth-child(5) {
			@include media('>=desktop') {
				width: 12%;
			}
		}

		&:nth-child(6) {
			@include media('>=desktop') {
				width: 18.5%;
			}
		}

		&:nth-child(7) {
			@include media('>=desktop') {
				width: 11%;
			}
		}

		&:nth-child(8) {
			padding: 20px 2px 12px;
			@include media('>=desktop') {
				width: 5.5%;
				padding: 10px 5px 14px;
			}
		}

		@include media('>=desktop') {
			justify-content: center;
			flex-wrap: wrap;
			padding: 10px 5px 14px;
			min-height: 81px;
		}

		.cell-title {
			font-size: $font-size-base;
			color: $secondary-text-color;
			@include media('>=desktop') {
				display: none;
			}
		}
	}

	.amount-cell {
		@include media('<desktop') {		
			position: absolute;
			top: 18px;
			right: 13px;
			font-size: 16px;
			font-weight: 500;
		}

		.open-close {
			@include media('>=desktop') {
				margin: 0 0 0 10px;
			}
		}
	}

	.action-cell {
		@include media('>=desktop') {
			justify-content: flex-end;
		}

		.open-close {
			.opener {
				@include flex-central-align;
				width: 32px;
				height: 32px;
				background: #f8f8fd;
				border-radius: 9px;
				color: $secondary-text-color;
				font-size: 4px;
				@include media('<desktop') {
					display: none;
				}
			}

			.slide {
				right: -10px;
				left: auto;

				&:before {
					left: auto;
					right: 28px;

					@include media('<desktop') {
						display: none;
					}
				}

				@include media('<desktop') {
					position: static !important;
					display: block !important;
					background: none;
					min-width: 0;
					padding: 0;
					border: none;
					border-radius: 0;
					box-shadow: none;
					margin: 0;
				}

				.list {
					li {
						@include media('<desktop') {
							display: inline-block;
							vertical-align: top;
							padding: 0 8px 0 0;
						}
					}

					a {
						@include media('<desktop') {
							display: flex;
						}
					}
				}
			}

			.btn-edit,
			.btn-del {
				background: none;
				width: auto;
				height: auto;

				&:before {
					font-size: 18px;
					@include media('>=desktop') {
						display: none;
					}
				}

				@include media('>=desktop') {
					margin: 0;
					border-radius: 0;
					color: $base-text-color;
					font-size: $font-size-base;
				}
			}
		}
	}

	.switch-frame {

		.switch {
			@include media('<desktop') {
				width: 30px;
				height: 18px;
			}

			.slider {
				background-color: $white;
			}

			.circle {
				@include media('<desktop') {
					width: 10px;
					height: 10px;
					bottom: 4px;
				}
			}
		}

		input[type="checkbox"]:checked + .slider .circle,
		input[type="checkbox"]:checked + .switch .slider .circle {
			@include media('<desktop') {
				transform: translateX(10px);
			}
		}
	}

	.circle-btn {

		&.icon-plus {
			@include media('<desktop') {
				border-color: $purple;
				margin: 0 0 0 10px;
			}
		}

		@include media('>=desktop') {
			margin: 0 0 0 10px;
		}
	}
}

.payments-table {
	padding: 0 0 38px;
	min-width: 1070px;

	@include media('>=tablet') {
		font-size: $secondary-size-base;
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		margin: 0 -5px;
	}

	.table-head {
		font-size: $font-size-base;
		color: $secondary-text-color;
		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 0 8px;
			font-weight: 500;
			font-size: $font-size-base;

			&:first-child {
				@include media('>=tablet') {
					font-size: $secondary-size-base;
				}
			}
			@include media('>=tablet') {
				padding: 28px 4px 29px;
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		padding: 14px 5px;
		min-height: 67px;

		&:first-child {
			width: 13.8%;
			font-size: 15px;
			@include media('>=tablet') {
				width: 14.8%;
				font-size: $font-size-base;
			}
		}
		&:nth-child(2) {
			width: 16.8%;
			@include media('>=tablet') {
				width: 19%;
			}
		}
		&:nth-child(3) {
			width: 14.2%;
		}
		&:nth-child(4) {
			width: 27.6%;
			@include media('>=tablet') {
				width: 25.3%;
			}
		}
		&:nth-child(5) {
			width: 27.6%;
			@include media('>=tablet') {
				width: 26.7%;
			}
		}

		&.sorting-cell {
			&:before {
				@include media('<tablet') {
					margin: 3px 5px 0;
				}
			}
		}

		@include media('>=tablet') {
			padding: 12px 5px;
			min-height: 72px;
		}
	}

	img {
		margin: 0 14px 0 0;
		@include media('<desktop') {
			width: auto;
		}
	}

	a {
		color: inherit;
	}
}

.document-table  {
	font-size: 15px;
	padding: 0 0 41px;
	min-width: 570px;

	@include media('>=tablet') {
		padding: 0 0 77px;
		font-size: $secondary-size-base;
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		transition: all $animation-speed;
	}

	.table-head {
		font-size: $font-size-base;
		color: $secondary-text-color;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 0 12px;
			font-weight: 500;
			&:first-child {
				font-size: $font-size-base;
				@include media('>=tablet') {
					font-size: $secondary-size-base;
				}
			}

			@include media('>=tablet') {
				padding: 30px 4px 27px;
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		padding: 14px 5px;
		min-height: 62px;

		&:first-child {
			width: 12%;
			font-size: 11px;
			color: $secondary-text-color;
			@include media('>=tablet'){
				width: 10.1%;
			}

			img {
				margin: 0 11px 0 0;
			}
		}

		&:nth-child(2) {
			width: 33%;
			font-weight: 500;
			@include media('>=tablet') {
				width: 53.4%;
				font-size: $font-size-base;
			}
		}

		&:nth-child(3) {
			width: 15%;
			@include media('>=tablet'){
				width: 12.5%;
			}
		}

		&:nth-child(4) {
			width: 25%;
			@include media('>=tablet'){
				width: 12%;
			}
		}

		&:nth-child(5) {
			width: 15%;
			justify-content: flex-end;
			@include media('>=tablet'){
				width: 12%;
			}
		}

		@include media('>=tablet') {
			padding: 10px 5px 18px;
			min-height: 80px;
		}
	}
}