// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: $headings-font-family;
	font-weight: bold;
	margin: 0 0 0.5em;
	color: $headings-color;

	&.mb-sm {
		margin: 0 0 17px;
		@include media('>=tablet') {
			margin: 0 0 43px;
		}
	}
}

h1, .h1 {
	font-size: $h1-font-size;
}

h2, .h2 {
	font-size: $h2-font-size;
	font-weight: 500;
	@include media('>=tablet') {
		font-size: 21px;
	}
}

h3, .h3 {
	font-weight: normal;
	font-size: $h3-font-size;
	margin: 0 0 8px;

	@include media('>=tablet') {
		font-size: 18px;
		margin: 0 0 19px;
	}
}

h4, .h4 {
	font-size: $h4-font-size;
	font-weight: 500;
	margin: 0 0 20px;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	line-height: 1.75;
	font-size: $medium-font-size;
	margin: 0 0 26px;

	@include media('>=tablet') {
		font-size: 15px;
	}
}

a {
	color: $base-link-color;
	text-decoration: none;
	transition: color $animation-speed;

	&.md-font-weight {
		font-weight: 500;
	}

	&.green-link {
		color: $green;
	}

	&:hover,
	&:focus {
		color: $base-text-color; 
	}
}