// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #8191af;
$light-gray: #f9faff;
$lighter-gray: #eaeff8;
$dark-purple: #221c55;
$purple: #5a4bc9;
$black: #333;
$white: #fff;
$light-blue: #39f;
$light-red: #f07255;
$green: #008985;

$input-border-color: #bdc6d7;
$bg-light-gray: $light-gray;
$lines-light-gray: $lighter-gray;
$text-gray: $gray;
$text-black: $dark-purple;

$base-font-sans-serif: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $text-black !default;
$base-background-color: $light-gray !default;
$font-size-base: 14px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;
$base-font-weight: normal;

$secondary-text-color: $text-gray;
$secondary-size-base: 13px;
$medium-font-size: 16px;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $purple;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 5px 15px !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $lines-light-gray !default;
$form-element-focus-border-color: $input-border-color !default;
$placeholder-color: $secondary-text-color !default;

// Headers
$h1-font-size: 30px !default;
$h2-font-size: 20px !default;
$h3-font-size: 15px !default;
$h4-font-size: 14px !default;
$h5-font-size: 13px !default;
$h6-font-size: 12px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;

$xs-border-radius: 3px;
$sm-border-radius: 6px;
$base-border-radius: 8px;
$lg-border-radius: 11px;


$animation-speed: 0.3s;
