.action-window {
	min-height: calc(100vh - 128px);

	&.full-height-layout {
		display: flex;
		flex-flow: column nowrap;

		.action-caption {
			@include media('>=tablet') {
				flex: 1 0;
				align-items: flex-start;
			}
		}

		.action-content {
			flex: 1 0;
			display: flex;

			@include media('>=tablet') {
				flex: 5 0;
			}

			form {
				width: 100%;
				position: relative;
				padding-bottom: 160px;

				&.rate-form {
					@include media('>=tablet') {
						padding-bottom: 88px;
					}
				}

				&.upload-video-form {
					@include media('>=tablet') {
						padding-bottom: 40px;
					}
				}

				@include media('>=tablet') {
					padding-bottom: 60px
				}

				.button-frame {
					position: absolute;
					bottom: -5px;
					left: 0;
					width: 100%;

					&.align-start {
						@include media('>=tablet') {
							justify-content: flex-start;
						}
					}

					@include media('>=tablet') {
						bottom: 0;
						justify-content: flex-end;
					}
				}

				.step-action-buttons {
					@include media('>=tablet') {
						position: absolute;
						bottom: -5px;
						left: 0;
						width: 100%;
						justify-content: space-between;
					}
				}
			}
		}
	}

	&.mobile-fixed-button {
		padding-bottom: 170px;

		@include media('>=tablet') {
			padding-bottom: 0;
		}
	}

	@include media('>=tablet') {
		min-height: calc(100vh - 190px);
	}
}

.action-caption {
	@include flex-horizontal-align;
	padding: 6px 0 34px;

	&.has-steps {
		display: block;
		padding: 6px 0 49px;

		&.pb-sm {
			padding: 6px 0 42px;
			@include media('>=tablet') {
				padding: 14px 0 26px 2px;
			}
		}

		@include media('>=tablet') {
			padding: 14px 0 61px 2px;
		}

		@include media('>=desktop') {
			@include flex-horizontal-align;
			justify-content: space-between;
		}

		.action-title {
			padding: 0 0 4px;
			@include media('>=tablet') {
				padding: 0;
			}
		}
	}

	@include media('>=tablet') {
		padding: 16px 0 61px 4px;
	}
}

.action-title {

	@include media('>=tablet') {
		@include flex-horizontal-align;
	}

	h2 {
		margin: 0;
	}

	.btn-back {
		margin: 0 0 17px;
		@include media('>=tablet')  {
			margin: 0 17px 0 0;
		}
	}
}

.step-frame {
	margin: 0 -9px;
	@include media('>=tablet') {
		padding: 13px 0 0 15px;
	}

	@include media('>=desktop') {
		margin: 0 -10px 0 0;
	}
}

.action-content {

	.upload-video-form {

		.form-row {
			max-width: 733px;
			padding: 0 0 30px;

			@include media('>=tablet') {
				padding: 0 0 105px;
			}
		}
	}

	.list {
		font-size: $secondary-size-base;
	}

	label {
		font-size: $font-size-base;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}
	}

	.label {
		padding: 0 0 10px;

		&.sub-title {
			font-size: $secondary-size-base;
			padding: 0 0 16px;
		}
	}

	.edit-banner-panel {
		.label, label {
			padding: 0 0 8px;
			@include media('>=tablet') {
				padding: 0 0 5px;
			}
		}
	}

	.open-close-title {
		display: block;
		font-weight: 500;
		padding: 0 0 12px;
		font-size: 15px;

		@include media('>=tablet') {
			color: $secondary-text-color;
			font-size: $secondary-size-base;
		}
	}

	.button-frame {
		@include flex-horizontal-align;
		justify-content: flex-start;
		position: static;

		&.payment-button {

			@include media('>=tablet') {
				justify-content: flex-start !important;
			}

			.submit {
				min-width: 190px;
				width: auto;
				padding: 17px 15px;

				@include media('>=tablet') {
					min-width: 218px;
				}
			}

			.btn {
				min-width: 113px;
				width: auto;
				padding: 17px 15px;
				margin: 0 0 0 16px;

				@include media('>=tablet') {
					min-width: 140px;
					padding: 17px 15px;
				}
			}
		}

		.btn {

			@include media('>=tablet') {	
				min-width: 140px;
				padding: 21px 15px;
				width: auto;
			}
		}

		.btn + .btn,
		.submit + .btn {
			@include media('>=tablet') {
				margin: 0 0 0 23px;
			}
		}
	}

	.submit {
		min-width: 235px;
		font-size: 15px;
		padding: 21px 15px;
		width: 100%;

		@include media('>=tablet') {
			font-size: $font-size-base;
			width: auto;
		}
	}

	.form-row {
		padding: 0 0 21px;

		&.select-row {
			padding: 27px 0 57px;

			@include media('>=tablet') {
				padding: 27px 0 103px;
			}
		}
	}

	.payment-radio-row + .form-row {
		padding: 0 0 30px;
		.help-text {
			padding-top: 12px;
		}
	}

	.radio-col {
		padding: 9px 0 0;
		@include media('>=tablet') {
			@include flex-horizontal-align;
			padding: 12px 0 0;
		}

		.help-text {
			line-height: 1.5;
			@include media('>=tablet') {
				flex: 1 0;
			}

			@include media('>=desktop') {
				padding: 0 12px 0 0;
			}
		}
	}

	.label + .radio-col {
		padding: 0;
		@include media('>=tablet') {
			padding: 0;
		}
	}

	.switch-frame {
		padding: 13px 0 12px 2px;

		&.payment-switch {
			@include media('<tablet') {
				padding: 5px 0 12px;
			}

			.fake-switch-label {
				@include media('<tablet') {
					width: 60%;
					font-size: $font-size-base;
				}
			}

			.switch {
				@include media('<tablet') {
					margin: 0;
				}
			}
		}
	}

	.help-text {
		line-height: 1.6;
		display: block;
		color: $secondary-text-color;
		font-size: $secondary-size-base;

		@include media('>=tablet') {
			max-width: 400px;
		}
	}

	.select-payment-row {

		.open-close-title {
			color: $secondary-text-color;
			font-size: $font-size-base;
			padding: 0 0 10px;

			@include media('>=tablet') {
				font-size: 13px;
				padding: 0 0 12px;
			}
		}
	}

	.total-block {
		.submit {
			padding: 17px 15px;
			width: 100%;

			@include media('>=tablet') {
				padding: 21px 15px;
				width: 100%;
			}
		}
	}
}

.action-form {

	.form-row {
		padding: 0 0 31px;
		@include media('>=tablet') {
			padding: 0 0 40px;
		}
	}

	.label {
		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}
	}

	.button-frame {
		flex-wrap: wrap;
		flex-direction: column-reverse;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}

	.btn {
		font-weight: 500;
		padding: 16px 10px;
		min-width: 166px;

		&.btn-green-border {
			@include media('>=tablet') {
				min-width: 218px;
			}

			@include media('<tablet') {
				border: none;
				padding: 0;
				min-width: 0;
				margin: 0;
				width: auto;
			}
		}

		&.btn-has-arrow {
			&:after {
				@include media('<tablet') {
					right: 29px;
				}
			}

			@include media('<tablet') {
				text-align: left;
				padding: 18px 29px;
			}
		}

		@include media('>=tablet') {
			padding: 16px 10px;
			min-width: 166px;
		}

		@include media('<tablet') {
			margin: 0 0 28px;
			width: 100%;
		}
	}
}

.rate-form {

	.form-row {
		padding: 0 0 47px;
		@include media('>=tablet') {
			padding: 48px 0 52px;
		}
	}

	.form-row + .form-row {
		@include media('>=tablet') {
			border-top: 1px solid $lines-light-gray;
		}
	}
}

.impression-options-form {

	@include media('>=tablet') {
		padding-top: 67px;
	}

	.datepicker-group,
	.form-row {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: -28px;
			right: -28px;
			bottom: 0;
			height: 1px;
			background: $lines-light-gray;

			@include media('>=tablet') {
				display: none;
			}
		}
	}

	.form-row {
		padding: 17px 0 25px;
		position: relative;

		@include media('>=tablet') {
			padding: 0 0 40px;
		}
	}

	.datepicker-group {
		@include flex-horizontal-align;
		max-width: 367px;
		margin: 0 -5px;
		padding: 0 0 17px;

		@include media('>=tablet') {
			padding: 0 0 74px;
		}
	}

	.datepicker-col {
		width: 50%;
		padding: 0 5px;
	}

	.datepicker-open-close {
		@include flex-horizontal-align;

		@include media('>=widescreen') {
			width: auto;
		}

		.selected-date {
			@include flex-horizontal-align;
			width: 100%;
			min-width: 0;

			&.selected {
				font-weight: 500;

				.btn-remove {
					display: inline-block;
				}
			}

			@include media('>=tablet') {
				padding: 0 0 0 9px;
			}

			.icon-calendar {
				padding: 0 12px 0 0;
			}
		}

		.btn-remove {
			width: 17px;
			height: 17px;
			line-height: 17px;
			margin: 0 0 0 3px;
			display: none;
			vertical-align: middle;

			@include media('>=tablet') {
				margin: 0 0 0 8px;
				background: $lines-light-gray;
			}
		}
	}

	.switch-frame {
		padding: 0 0 24px;

		.switch {
			margin: 0;

			@include media('>=tablet') {
				margin: 0 15px 0 0;
			}
		}
		.fake-switch-label {
			font-size: $font-size-base;
		}
	}

	.input-group {
		input[type='text'],
		input[type='number'],
		input[type='tel'],
		input[type='email'],
		input[type='search'],
		input[type='password'] {
			margin: 0 0 12px;

			@include media('>=tablet') {
				margin: 0 0 9px;
			}
		}
	}

	.help-text {
		max-width: 300px;
		@include media('>=tablet') {
			font-size: 12px;
		}
	}
}

.form-group {
	padding: 52px 0 0;

	&.has-select {
		padding: 0;
		@include media('>=tablet') {
			padding: 0 0 6px;
		}

		.input-col {
			padding: 0 0 11px;

			&:first-child {
				@include media('>=tablet') {
					max-width: 212px;
				}
			}
			@include media('>=tablet') {
				width: auto;
				flex: 1 0;
				padding: 0 14px;
			}
		}
	}

	@include media('>=tablet') {
		padding: 46px 0 0;
		display: flex;
		margin: 0 -14px;
	}

	.input-col,
	.datepicker-col {
		padding: 0 0 24px;
		@include media('>=tablet') {
			width: 50%;
			padding: 0 14px;
		}

		input {
			margin: 0 0 7px;
		}
	}

	label {
		font-weight: 500;
	}

	.input-has-currency {
		.currency {
			right: 15px;
		}
	}

	.help-text {
		font-size: $font-size-base;
		@include media('>=tablet') {
			font-size: 12px;
		}

		dl {
			margin: 0;

			dt, dd {
				display: inline-block;
				vertical-align: top;
				margin: 0;
			}

			.lead {
				margin: 0 11px 0 0;
				color: $purple;

				@include media('>=tablet') {
					margin: 0 8px 0 0;
				}
			}
		}
	}
}

.total-help-text {
	font-size: 13px;
	color: $secondary-text-color;
	text-align: center;

	@include media('>=tablet') {
		font-size: 12px;
		text-align: left;
		width: 90%;
	}
}

.step-action-buttons {
	@include flex-central-align;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $bg-light-gray;
	padding: 26px 29px 78px;


	@include media('>=tablet') {
		justify-content: space-between;
		background: none;
		position: static;
		padding: 52px 0 0;
	}

	.btn {
		margin: 0 0 0 17px;

		&.btn-green-border {
			@include media('<tablet') {
				border: none;
				padding: 0;
				min-width: 0;
				position: absolute;
				bottom: 32px;
				left: 50%;
				transform: translateX(-50%);
				margin: 0;
			}
		}

		&.btn-has-arrow {
			padding-right: 10px !important;

			&:after{
				position: static;
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 18px;
			}

			@include media('<tablet') {
				min-width: 248px;
			}
		}

		@include media('>=tablet') {
			margin: 0 0 0 19px;
		}
	}
}

.time-table-row {
	padding: 26px 0;

	@include media('>=tablet') {
		padding: 38px 0;
	}

	.title {
		display: block;
		padding: 0 0 20px;
		font-weight: 500;
		font-size: 16px;

		@include media('>=tablet') {
			padding: 0 0 21px;
			font-size: $font-size-base;
		}
	}

	.btn-list {
		margin: 0 -28px 30px -10px;
		white-space: nowrap;
		overflow: auto;

		@include media('>=tablet') {
			margin: 0 -15px 24px;
		}

		li {
			padding: 0 2px;
			display: inline-block;
			vertical-align: top;

			&.active {
				.simple-btn {
					color: $purple;
					background: $bg-light-gray;
				}
			}

			@include media('>=tablet') {
				padding: 0 4px;
			}
		}
	}
}