.chart-frame {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 50px;

	@include media('>=tablet')  {
		padding: 0 0 80px;
	}

	.report-box {
		width: 80%;
		padding: 4px 0 30px;

		@include media('>=tablet') {
			width: 50%;
		}
		@include media('>=desktop') {
			width: 35%;
			order: 1;
			padding: 0 0 15px;
		}

		@include media('>=widescreen') {
			width: 25.5%;
		}

		.open-close-title {
			font-size: 20px;
			font-weight: 500;
			display: block;
			color: $base-text-color;

			@include media('>=tablet') {
				font-size: $font-size-base;
				font-weight: normal;
				color: $secondary-text-color;
			}
		}

		.open-close {
			.opener {
				font-size: 20px;
				font-weight: normal;

				@include media('>=tablet') {
					font-size: 21px;
					font-weight: 500;
				}
			}
		}
	}

	.chart-cartion-btn {
		width: 20%;
		display: flex;
		align-items: flex-start;
		margin: 0 -10px;

		@include media('>=tablet') {
			width: 50%;
			align-items: center;
			margin: 0 -6px;
		}

		@include media('>=desktop') {
			width: 39%;
			padding: 5px 0 0;
			order: 3;
		}

		@include media('>=widescreen') {
			width: 27.5%;
			order: 4;
		}

		.chart-button {
			margin: 0 10px;

			&:first-child {
				@include media('>=tablet') {
					min-width: 184px;
				}
			}

			@include media('>=tablet') {
				margin: 0 6px;
			}
		}
	}

	.datepicker-open-close {
		width: 100%;

		.slide {
			.slide-title {
				@include media('>=tablet') {
					flex-wrap: nowrap;
				}
			}
			.date {
				font-size: 16px;
				font-weight: 500;
				padding: 11px 10px 10px;
				white-space: nowrap;
				max-width: 138px;

				@include media('>=tablet') {
					max-width: none;
				}
			}
		}

		@include media('>=desktop') {
			width: 100%;
			order: 4;
			padding: 0;
		}

		@include media('>=widescreen') {
			width: 23%;
			order: 3;
		}
	}

	.detail-box {
		@include flex-horizontal-align;
		width: 100%;
		padding: 0 0 27px;

		@include media('>=desktop') {
			width: 26%;
			order: 2;
			padding: 4px 0 0;
		}

		@include media('>=widescreen') {
			width: 24%;
		}

		.open-close-title {
			font-size: 15px;
			font-weight: 500;

			@include media('>=desktop') {
				font-size: $secondary-size-base;
			}
		}

		.open-close {
			display: inline-block;
			vertical-align: top;
		}

		.opener {
			font-size: 15px;
			@include media('>=desktop') {
				font-size: $secondary-size-base;
				font-weight: 500;
			}
		}

		.has-arrow {
			&:after {
				content: "\e903";
				font-size: 5px;
				margin: 0 0 0 5px;
			}
		}
	}

	.chart-info {
		width: 100%;
		margin: 0 -5px;
		padding: 0 0 17px;
		display: flex;
		flex-wrap: wrap;

		@include media('>=desktop') {
			display: block;
			width: 25.4%;
			max-width: 316px;
			order: 5;
			margin: 0;
			padding: 27px 15px 0 0;
		}
	}

	.chart-img {
		width: 100%;
		@include media('>=desktop') {
			width: 74.6%;
			order: 6;
			padding: 52px 0 0;
			position: relative;
		}

		@include media('>=widescreen') {
			width: calc(100% - 316px);
		}

		.scroll-holder {
			@include media('<desktop') {
				margin-bottom: 20px;
			}
		}
	}

	.scroll-box {
		@include media('<desktop') {
			min-width: 863px;
		}

		img {
			@include media('<desktop') {
				max-width: none;
				width: 100%;
			}
		}
	}

	.open-close-title {
		color: $secondary-text-color;
		display: inline-block;
		vertical-align: top;
		font-weight: normal;
		padding: 0 9px 0 0;
	}

	.chart-tooltip {
		background: $base-text-color;
		padding: 17px 35px 13px 28px;
		border-radius: 11px;
		color: $white;
		max-width: 320px;
		width: 100%;

		&:before {
			@include media('>=desktop') {
				content: '';
				position: absolute;
				bottom: -10px;
				left: calc(50% - 15px);
				background-image: url(../images/chart-hover.svg);
				background-repeat: no-repeat;
				background-size: contain;
				width: 30px;
				height: 10px;
			}
		}

		@include media('>=desktop') {
			position: absolute;
			top: 11.7%;
			left: 21.8%;
			display: flex;
			flex-wrap: wrap-reverse;
			max-width: 213px;
			padding: 16px 20px 19px 13px;
		}

		dl {
			display: flex;
			margin: 0;

			dt, dd {
				display: inline-block;
				vertical-align: top;
				margin: 0;
				font-weight: 500;
				font-size: 15px;
				width: 50%;

				@include media('>=desktop')  {
					font-size: $font-size-base;
				}
			}

			dd {
				text-align: right;
				font-size: 16px;
				font-weight: normal;

				@include media('>=desktop')  {
					font-size: $font-size-base;
				}
			}
		}
	}

	.tooltip-date {
		font-size: 13px;
		color: #bdc6d7;
		display: block;
		padding: 0 0 18px;

		@include media('>=desktop') {
			padding: 8px 0 0;
		}
	}
}

.scroll-holder {
	@include media('<desktop') {
		overflow-x: scroll;
		margin-right: -28px
	}

	.scroll-box {
		padding-right: 28px;
		white-space: nowrap;

		@include media('>=tablet') {
			padding-right: 15px;
		}

		@include media('>=widescreen') {
			padding-right: 0;
		}
	}
}

.chart-info-box {
	border-radius: 18px;
	width: calc(50% - 10px);
	margin: 0 5px 22px;
	padding: 18px 5px 25px;
	border: 1px solid $lines-light-gray;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&.lead {
		background: $bg-light-gray;

		.icon-box {
			position: relative;

			@include media('<tablet') {
				margin: 0;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background: url(../images/colored-icon.svg) 50% 50% no-repeat;
				background-size: contain;

				@include media('<tablet') {
					top: -4px;
					bottom: -4px;
					right: -4px;
					left: -4px;
				}
			}
		}

		@include media('>=desktop') {
			background: transparent;
		}
	}

	@include media('>=tablet') {
		width: calc(25% - 10px);
		align-items: center;
	}

	@include media('>=desktop') {
		width: 100%;
		border: none;
		margin: 0 0 7px;
		flex-wrap: nowrap;
		justify-content: flex-start;
		padding: 15px 0;
	}

	.icon-box {
		@include flex-central-align;
		border-radius: 100%;
		background: $bg-light-gray;
		width: 65px;
		height: 65px;
		margin: 0 0 17px;

		@include media('>=desktop') {
			margin: 0 20px 0 0;
		}
	}

	i {
		color: $secondary-text-color;
		font-size: 23px;

		&.icon-eye {
			font-size: 13px;
		}
	}

	.title {
		color: $secondary-text-color;
		text-align: center;
		width: 100%;

		@include media('>=desktop') {
			flex: 1 0;
			text-align: left;
		}
	}

	.number {
		color: $base-text-color;
		display: block;
		font-size: 20px;
		margin: 9px 0 0;
		@include media('>=desktop') {
			font-size: 22px;
		}
	}
}

.report-caption {
	@include flex-horizontal-align;
	justify-content: space-between;
	padding: 0 0 8px;

	@include media('>=tablet') {
		padding: 0 0 15px;
	}
}

.report-detail {
	width: 70%;

	@include media('>=tablet') {
		width: 49%;
	}

	@include media('>=desktop') {
		width: 70%;
	}

	.open-close-title {
		display: block;
		font-size: 15px;
		font-weight: 500;
		padding: 0 0 6px;

		@include media('>=tablet') {
			font-size: 18px;
			padding: 0;
		}

		@include media('>=desktop') {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.open-close {
		font-size: 15px;

		@include media('>=tablet') {
			font-weight: normal;
			font-size: 18px;
		}

		@include media('>=desktop') {
			display: inline-block;
			vertical-align: middle;
		}

		.opener {
			font-weight: 500;
		}
	}

	.has-arrow {
		&:after {
			@include media('>=tablet') {
				margin: 0 0 0 8px;
			}
		}
	}
}

.title-line {
	display: inline-block;
	vertical-align: middle;
	height: 1px;
	background: $secondary-text-color;
	width: 22px;
	margin: 0 11px;
}

.report-sorting {
	@include flex-horizontal-align;
	width: 30%;
	justify-content: flex-end;
	padding: 9px 0 0;

	@include media('>=tablet') {
		width: 49%;
		padding: 0;
	}

	@include media('>=desktop') {
		width: 30%;
	}

	.filter-btn {
		margin: 0 -1px 0 17px;

		@include media('>=tablet') {
			margin: 0 0 0 31px;
		}
	}

	.sorting-block {	
		.has-arrow {
			&:after {
				@include media('<tablet') {
					display: none !important;
				}
			}
		}
	}

}


.sorting-block {
	.open-close-title {
		font-size: 13px;
		color: $secondary-text-color;
		font-weight: normal;
		padding: 0 9px 0 0;
	}

	.open-close {
		display: inline-block;
		vertical-align: middle;

		&.up {
			.icon-sorting {
				transform: scaleY(1);
			}
		}

		&.down {
			.icon-sorting {
				transform: scaleY(-1);
			}
		}

		.opener {
			font-weight: 500;
			font-size: 15px;
			@include media('>=tablet') {
				font-size: $font-size-base;
			}
		}

		.has-arrow {
			&:after {
				content: "\e903";
				font-size: 5px;
				margin: 0 0 0 5px;
			}
		}

		.icon-sorting {
			display: inline-block;
			vertical-align: middle;
			min-height: 20px;
			font-size: 17px;
			transition: transform $animation-speed;

    		@include media('>=tablet') {
				font-size: 10px;
				margin: 0 3px 3px 0;
				min-height: 0;
    		}
		}
	}
}


.report-frame {
	padding: 0 0 29px;

	@include media('>=tablet') {
		padding: 0 0 38px;
	}

	.scroll-holder {
		@include media('<desktop') {
			margin: 0 -28px 20px 0;
		}
	}
}

.scroll-box {
	@include media('<desktop') {
		min-width: 863px;
	}
}

.caption {
	@include flex-horizontal-align;
	justify-content: space-between;
	padding: 0 0 33px;
	position: relative;

	&.mobile-two-line {
		@include media('<tablet') {
			display: block;
			padding: 0 0 24px;
		}

		.title-box {
			@include media('<tablet') {
				padding: 0 0 41px;
			}
		}

		.btn-box {
			@include media('<tablet') {
				padding-left: 0;
			}
		}
	}

	@include media('>=tablet')  {
		padding: 11px 0 30px;
	}

	.title-box {
		@include flex-horizontal-align;
		justify-content: space-between;
		flex-wrap: wrap;
		flex: 1 0;

		@include media('>=tablet') {
			justify-content: flex-start;
			flex-wrap: nowrap;
			align-items: center;
		}

		.open-close {
			.opener {
				font-size: 20px;
				font-weight: 500;
				color: $purple;

				@include media('>=tablet') {
					font-size: 21px;
					font-weight: normal;
					color: $base-text-color;
				}
			}
		}
	}

	.btn-box {
		padding: 0 0 0 23px;

		@include media('>=tablet') {
			padding: 0 0 0 10px;
		}
	}

	h2 {
		margin: 0 18px 0 0;
	}
}

.search-holder {
	@include flex-horizontal-align;
	position: relative;
	width: auto;
	height: 52px;

	&.active {

		.serach-slide {
			background: $bg-light-gray;
		}

		.serach-opener {
			opacity: 0;
		}
	}

	.serach-opener {
		margin: 0 0 0 15px;
		outline: none;
		display: inline-block;
		vertical-align: top;
		background: transparent;
		padding: 0;
		border: none;
		position: relative;
		font-size: 22px;
		transition: color $animation-speed, opacity 0.5s;

		&:before{
			content: "\e915";
			font-family: 'icomoon';
			display: inline-block;
			vertical-align: middle;
		}

		&:hover {
			color: $purple;
		}
	}

	.serach-slide {
		width: 270px;
		border-radius: 2em;
		position: absolute;
		height: 100%;
		right: 0;
		top: 0;
		z-index: 1;

		@include media('>=phone') {
			width: 366px;
		}

		@include media('>=tablet') {
			left: 0;
			right: auto;
		}

		@include media('<phone') {
			width: 270px;
		}
	}

	.btn-search {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15px;

		@include media('>=tablet') {
			font-size: 22px;
		}
	}

	input[type="search"] {
		height: 52px;
		padding: 5px 40px 5px 53px;

		@include placeholder {
			@include media('>=tablet') {
				font-size: 13px;
			}
		}
	}

	.close-slide {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 23px;
		font-size: 11px;
		color: $secondary-text-color;
		transition: color $animation-speed;

		&:before{
			content: "\e92a";
			font-family: 'icomoon';
		}

		&:hover {
			color: $base-text-color;
		}
	}
}

.campaing-frame,
.document-frame {
	position: relative;

	.caption {
		align-items: flex-start;
		padding: 8px 0 73px;

		@include media('>=tablet') {
			align-items: flex-end;
		}

		@include media('>=desktop') {
			padding: 8px 0 30px;
		}

		.title-box {
			align-items: flex-start;
			@include media('>=tablet') {
				justify-content: space-between;
			}

			@include media('>=desktop') {
				align-items: center;
				justify-content: flex-start;
			}
		}

		.title-holder {
			width: calc(100% - 37px);
			padding: 7px 0 0;

			@include media('>=tablet') {
				width: auto;
				padding: 0 10px 0 0;
			}

			@include media('>=desktop') {
				@include flex-horizontal-align;
				padding: 0 17px 0 0;
			}

			h2 {
				margin: 0 0 6px;

				@include media('>=tablet') {
					margin: 0;
				}

				.title-line {
					margin: 0 6px;
					width: 21px;
				}
			}

			.has-arrow {
				&:after {
					margin: 0 0 0 7px;
				}
			}
		}

		.serach-opener {
			@include media('<tablet') {
				margin-bottom: 15px;
			}
		}

		.btn-box {
			padding: 0 0 0 18px;
			@include media('>=tablet') {
				padding: 0 0 0 10px;
			}
		}
	}

	.search-holder {
		.serach-slide {
			@include media('>=tablet', '<desktop') {
				right: 0;
				left: auto;
			}
		}
	}
}

.caption-actions-frame {
	@include media('>=desktop') {
		@include flex-horizontal-align;
	}

	.sorting-block {
		padding: 0 0 4px;
		@include media('>=desktop') {
			padding: 0 45px 0px 0;
		}

		@include media('>=1150px') {
			padding: 0 120px 2px 0;
		}

		.open-close-title {
			@include media('>=desktop') {
				padding: 0 4px 0 0;
			}
		}

		.icon-sorting {
			margin: 0 7px 0 0;
			@include media('>=tablet') {
				margin: 0;
			}
		}
	}
}

.sorting-frame {
	@include flex-horizontal-align;
	justify-content: space-between;
	position: absolute;
	bottom: 18px;
	left: -2px;
    right: -2px;

	@include media('>=desktop') {
		padding: 0 29px 0 0;
		position: static;
		width: auto;
	}
}

.edit-campaign-panel {
	background: $bg-light-gray;
	padding: 30px 15px 12px;
	margin: 31px 0 7px;
	border-radius: $lg-border-radius;

	@include media('>=widescreen')  {
		padding: 30px 35px 12px;
	}

	.edit-title {
		display: block;
		padding: 0 0 26px;
	}
}

.edit-form {

	@include media('>=1230px') {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.form-row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -11px;
	}

	.form-col {
		padding: 0 11px 10px;
		width: 100%;

		@include media('>=phone') {
			width: 50%;
		}

		@include media('>=tablet') {
			width: 33.33%;
		}

		@include media('>=desktop') {
			width: auto;
		}
	}

	.status-icon {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 0 0;
		width: 21px;
		height: 21px;
		border-radius: 100%;
		line-height: 21px;
		font-size: 7px;
		text-align: center;

		&.icon-pause-action {
			background: #ffe9c0;
			color: #f8af21;
		}

		&.icon-launch-action {
			background: #d4f8e3;
			color: #33ce9b;
		}

		&.icon-archive-action {
			background: #ffdbd2;
			color: $light-red;
			font-size: 10px;
		}

		&.icon-del-bt {
			background: #ffdbd2;
			color: $light-red;
			font-size: 10px;
		}
	}

	.open-close {
		min-width: 184px;

		@include media('>=widescreen') {
			margin-right: 8px;
		}

		.opener {
			@include flex-horizontal-align;
			width: 100%;
			background: $white;
			border-radius: 2em;
			font-size: $secondary-size-base;
			display: block;
			min-height: 37px;
			padding: 5px 15px 5px 10px;

			&:after {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 13px;
				color: $secondary-text-color;
				font-size: 4px;
				margin: 0;
			}
		}

		.slide {
			@include media('<tablet') {
				width: 100%;
			}
		}

		.list {
			li {
				padding: 0 0 19px;
			}
		}
	}

	label, .label {
		font-size: 12px;
		color: $secondary-text-color;
		display: block;
		padding: 0 0 8px;
		line-height: 1.2;
		font-weight: normal;
	}

	.input-has-currency {
		width: 100%;

		@include media('>=desktop') {
			width: 116px;
		}
	}

	input[type="text"],
	input[type='tel'],
	input[type='email'],
	input[type='search'],
	input[type='password'] {
		height: 37px;
		background: $white;
		width: 100%;
		border: 1px solid $lines-light-gray;
		box-sizing: border-box;
		border-radius: 5px;
		@include placeholder {
            color: $base-text-color;
            font-size: $secondary-size-base;
        }
	}

	.btn-row {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		margin: 0 -7px;
		@include media('>=desktop') {
			flex-wrap: nowrap;
		}

		.btn {
			margin: 0 7px 10px;
			white-space: nowrap;

			@include media('<desktop') {
				min-width: 184px;
			}
		}
	}
}

.icon-info-icon {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	font-style: normal;
	border-radius: 100%;
	width: 17px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	background: $bg-light-gray;
	color: $secondary-text-color;
	margin: 0 0 0 6px;
}

.form-row + .edit-banner-panel {
	@include media('>=tablet') {
		margin-top: -15px;
	}
}

.form-row {
	.help-text {
		line-height: 1.6;
		display: block;
		color: $secondary-text-color;
		font-size: $secondary-size-base;
	}
}

.select-payment-row {
	padding: 0 0 35px;

	@include media('>=tablet') {
		padding: 27px 0 36px;
	}

	.open-close {
		&.select {
			.opener {
				padding: 5px 30px 5px 10px;

				@include media('>=tablet') {
					padding: 5px 30px 5px 8px;
				}
			}
		}
	}
}

.edit-banner-panel {
	position: fixed;
	left: 30px;
	right: 30px;
	bottom: 35px;
	background: $white;
	box-shadow: 0px 18px 50px rgba(94, 101, 140, 0.15);
	border-radius: 16px;
	padding: 24px 17px 16px;
	font-size: 15px;
	z-index: 2;

	&.rate-customers {
		.input-group {
			@include media('>=1300px') {
				width: 48%;
			}

			.title-label {
				display: block;
				font-size: 15px;
				color: $secondary-text-color;
				padding: 0 0 10px 8px;
				width: 100%;
				@include media('>=tablet') {
					font-size: $secondary-size-base;
					padding: 2px 0 10px 8px;
					width: auto;
				}

				@include media('>=1300px') {
					padding: 2px 10px 0 0
				}
			}

			.input-col {
				width: 100%;
				@include media('>=1300px') {
					width: 50%;
				}
			}
		}
	}

	@include media('>=tablet') {
		width: 100%;
		position: static;
		box-shadow: none;
		background: $bg-light-gray;
		border-radius: 11px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 17px 35px;
		font-size: $font-size-base;
		margin: 0 0 14px;
		min-height: 99px;
	}

	@include media('>=widescreen') {
		flex-wrap: nowrap;
		align-items: center;
	}

	.edit-panel-title {
		padding: 0 0 15px;
		display: block;
		width: 100%;
		@include media('>=widescreen') {
			padding: 0;
			width: auto;
		}
	}

	.input-group {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		padding: 0 0 22px;
		margin: 0 -8px;

		@include media('>=tablet') {
			width: 50%;
			padding: 0;
		}
		@include media('>=widescreen')  {
			width: 46%;
		}
	}

	.label, label {
		font-size: $font-size-base;

		@include media('>=tablet')  {
			font-size: $secondary-size-base;
		}
	}

	.icon-info-icon {
		background: $lines-light-gray;
		@include media('<tablet') {
			display: none;
		}
	}

	.input-col {
		padding: 0 8px;
		width: 50%;

		@include media('>=tablet')  {
			max-width: 201px;
		}

		input {
			height: 38px;
			width: 100%;

			@include placeholder {
				@include media('>=tablet') {
					font-size: $secondary-size-base;
				}
			}

			@include media('>=tablet') {
				background: $white;
				border: 1px solid $lines-light-gray;
				border-radius: 5px;
			}
		}
	}

	.btn-group {
		@include flex-horizontal-align;

		@include media('>=tablet', '<widescreen') {
			width: 50%;
		}
	}

	.btn {

		&.btn-green {
			@include media('<tablet') {
				font-size: 15px;
				font-weight: 500;
				border-radius: 33px;
				flex: 1 0;
				padding: 14px 17px;
			}
		}

		&.btn-cancel {

			&:before {
				content: "\e92a";
				font-family: 'icomoon';
				
				@include media('>=tablet')  {
					display: none;
				}
			}

			@include media('<tablet') {
				position: relative;
				border-radius: 100%;
				min-width: 0;
				width: 48px;
				height: 48px;
				border-color: $light-red;
				color: $light-red;
			}
		}
	}


	.btn + .btn {
		margin-left: 18px;

		@include media('>=tablet') {
			margin-left: 14px;
		}
	}
}

.upload-video-form {
	@include media('>=tablet') {
		padding-top: 48px
	}

	h3 {
		margin: 0 0 21px;

		@include media('>=tablet') {
			margin: 0 0 42px;
		}
	}

	.video-block {
		max-width: 391px;
		border-radius: 18px;
		overflow: hidden;
		margin: 0 0 21px;
		position: relative;
	}

	.btn {
		&.btn-green.btn-has-arrow {

			&:after {
				@include media('>=tablet') {
					margin: 3px 0 0px 28px !important;
				}
			}
			@include media('>=tablet') {
				min-width: 249px;
				font-size: 13px;
				text-align: left;
				padding-left: 24px;
			}
		}
	}
}

.two-column {
	@include media('>=tablet') {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px;
	}

	.col {
		padding: 0 0 30px;

		&:first-child {
			text-align: center;
			@include media('>=phone', '<=tablet') {
				text-align: left;
			}
		}

		&:nth-child(2) {
			@include media('>=tablet') {
				padding-top: 11px;
			}
		}

		@include media('>=tablet') {
			padding: 0 10px;
		}
	}

	.simplebox {
		display: inline-block;
		vertical-align: top;

		.icon-change {
			font-size: 21px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 11px 0 0;

			@include media('>=tablet') {
				font-size: 18px;
			}
		}

		.icon-thin-chevron {
			font-size: 7px;
			display: inline-block;
			vertical-align: middle;
			transform: rotate(-90deg);
			margin: 0 0 2px 10px;

			@include media('>=tablet') {
				display: none;
			}
		}
	}
}

.profile-frame {
	padding: 10px 0 0;

	@include media('>=desktop') {
		padding: 0;
		display: flex;
		align-items: flex-start;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	h3 {
		margin: 0 0 29px;
		font-size: 18px;

		@include media('>=desktop') {
			margin: 0 0 42px;
		}
	}
}

.profile-info {
	padding: 37px 0 0;

	&.edit-profile {
		h3 {
			margin: 0 0 28px;

			@include media('>=tablet') {
				margin: 0 0 31px;
			}
		}

		.profile-row {

			&.has-checkbox {
				padding: 0 0 20px;
				@include media('>=tablet') {
					padding: 0 0 15px;
				}
			}
		}

		.definition-list {
			@include media('>=tablet') {
				align-items: flex-start;
			}

			dt {
				margin: 0 0 12px;
				@include media('>=tablet') {
					padding-top: 10px;
					margin: 0 0 10px;
				}
			}
			dd {
				margin: 0 0 18px;
				@include media('>=tablet') {
					margin: 0 0 10px;
				}
			}
		}
	}

	@include media('>=desktop') {
		width: 49%;
	}

	@include media('>=widescreen') {
		width: 58.8%;
	}

	.definition-list {
		dt, dd {
			@include media('>=tablet') {
				margin: 0 0 31px;
			}
		}

		dt {
			@include media('>=tablet') {
				max-width: 202px;
			}
		}

		input[type='text'],
		input[type='number'],
		input[type='tel'],
		input[type='email'],
		input[type='search'],
		input[type='password'] {
			font-size: 15px;

			@include media('>=tablet') {
				height: 37px;
				padding: 5px 12px;
				font-size: $secondary-size-base;
			}
		}

		.address-check-label {
			font-size: $font-size-base;
			font-weight: $base-font-weight;
			display: block;
			padding: 13px 0 0;
			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}

			.fake-input {
				margin-right: 6px;

				@include media('>=tablet') {
					width: 17px;
					height: 17px;
					margin-right: 2px;
				}
			}

			input[type="checkbox"]:checked ~ .fake-label {
				font-weight: $base-font-weight;
			}
		}
	}
}

.profile-card {
	border-bottom: 1px solid $lines-light-gray;
	padding: 0 0 12px;

	@include media('>=desktop') {
		margin: 6px 0 0;
		border: none;
		background: $bg-light-gray;
		border-radius: 18px;
		max-width: 396px;
		width: 49%;
		padding: 43px 37px 20px;
	}

	@include media('>=widescreen') {
		width: 32%;
	}

	.icon-profile-header {
		@include flex-central-align;
		color: $purple;
		font-size: 28px;
		width: 68px;
		height: 68px;
		border-radius: 100%;
		background: #eff2ff;
		margin: 0 auto 26px;
	}

	.profile-title {
		@include flex-horizontal-align;
		justify-content: space-between;
		padding: 0 0 16px;

		@include media('>=tablet') {
			display: block;
			text-align: center;
		}

		@include media('>=desktop') {
			padding: 0;
		}
	}

	.name {
		@include flex-horizontal-align;
		font-weight: 500;
		font-size: 22px;

		@include media('>=tablet') {
			padding: 0 0 6px;
			justify-content: center;
			font-size: 18px;
		}

		.open-close {
			margin: 4px -24px 0 9px;

			.opener {			
				&.btn-edit {
					width: auto;
					height: auto;
					padding: 0;
					font-size: $font-size-base;
				}
			}

			.slide {
				text-align: left;
			}

			.list {
				padding: 5px 2px 4px;

				li {
					padding: 0 0 23px;
				}

				a {
					position: relative;
					display: block;
					&:before {
						font-family: 'icomoon';
						content: "\e918";
						position: absolute;
						top: 6px;
						right: -8px;
						font-size: 5px;
						transform: rotate(-90deg);
					}
				}

				.email {
					display: block;
					color: $secondary-text-color;
					font-size: 12px;
					padding: 8px 0 0;
				}
			}
		}

		.bottom {
			font-size: 13px;
			padding: 14px 2px 0;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: -25px;
				right: -25px;
				height: 1px;
				background: $lines-light-gray;
			}

			a {
				color: $base-text-color;
			}
		}
	}

	.profile-id {
		color: $secondary-text-color;
		display: block;

		@include media('>=tablet') {
			padding: 0 0 13px;
			font-size: 12px;
		}
	}

	.profile-status {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		padding: 7px 10px;
		border-radius: 2em;
		font-size: 12px;
		font-weight: 500;
		position: relative;
		background: $bg-light-gray;
		margin: 0 0 39px;
		letter-spacing: 0.3px;

		&:before {
			font-family: 'icomoon';
			content: "\e939";
			font-size: 10px;
			color: $light-red;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px 1px 0;
		}

		@include media('>=tablet') {
			padding: 9px 10px;
			margin: 0 0 42px;
			background: $white;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.definition-list {

		dt {
			font-size: 15px;
			font-weight: normal;
			margin: 0 0 7px;

			&.large-cell {
				display: inline-block;
				vertical-align: top;
				width: 70%;
				padding-top: 12px;
				@include media('>=tablet') {
					width: 50%;
					padding: 0;
				}
			}

			@include media('>=desktop') {
				font-size: $secondary-size-base;
				font-weight: normal;
				margin: 18px 0;
			}
		}

		dt.large-cell + dd {
			display: inline-block;
			vertical-align: top;
			width: 30%;
			text-align: right;
			margin-right: -4px;
			padding-top: 10px;
			@include media('>=tablet') {
				width: 50%;
				margin-right: 0;
				padding-top: 0;
			}
		}

		dd {
			@include flex-horizontal-align;
			justify-content: space-between;
			font-size: $medium-font-size;
			margin: 0 0 28px;

			@include media('>=desktop') {
				justify-content: flex-end;
				margin: 17px 0;
				font-size: $font-size-base;
			}
		}

		dd + .profile-confirm-email {
			@include media('<tablet') {
				margin: -14px auto 23px;
			}
		}

		.email, .tel {
			color: $base-text-color;
			font-size: $medium-font-size;
			@include media('>=tablet') {
				font-size: $font-size-base;
			}
		}

		.btn-edit {
			background: none;
			width: auto;
			height: auto;
			padding: 0;
			margin: 0 0 0 27px;

			&:before {
				@include media('<tablet') {
					content: "\e918";
					font-size: 7px;
					transform: rotate(-90deg);
					margin: -29px -3px 0 10px;
				}
			}

			@include media('<tablet') {
				margin: 0 0 0 10px;
				color: $base-text-color;
			}
		}

		.switch-frame {
			flex-direction: row;
			justify-content: flex-end;

			@include media('>=tablet', '<desktop') {
				justify-content: flex-start;
			}

			.switch {
				margin: 0;
			}
		}

		.fake-switch-label {
			padding: 0 8px 0 0;

			@include media('<tablet') {
				display: none;
			}
		}

		.hidden-password {
			display: inline-block;
			vertical-align: top;
			letter-spacing: 6.4px;
			font-size: 43px;
			line-height: 1;
			margin: -24px 0 0 -2px;

			@include media('>=desktop') {
				margin: -23px -2px 0 0;
				letter-spacing: 3.6px;
				font-size: 31px;
			}
		}
	}
}

.profile-row {
	margin: 0 0 38px;
	padding: 0 0 24px;
	border-bottom: 1px solid $lines-light-gray;

	&:last-of-type {
		border: none;
		margin: 0;
	}
	@include media('>=tablet') {
		border: none;
		padding: 0 0 34px;
		margin: 0;
	}
}

.button-frame {
	padding: 9px 0 0;

	@include media('>=tablet') {
		padding: 12px 0 14px;
	}

	.btn {
		@include media('<tablet') {
			width: 100%;
		}
	}

	.btn + .btn {
		margin-left: 24px;
		min-width: 140px;
	}
}

.profile-confirm-email {
	width: 100%;
	margin: 0 auto 23px;
	padding: 21px 18px 14px;
	border: 2px solid $light-red;
	border-radius: 10px;
	@include media('>=desktop') {
		max-width: 319px;
		font-size: $secondary-size-base;
		border-radius: 5px;
		padding: 17px 18px 8px;
	}

	.title {
		display: block;
		font-size: 15px;
		font-weight: 700;
		padding: 0 0 6px;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
			padding: 0 0 10px;
		}
	}

	.link {
		display: inline-block;
		vertical-align: top;
		margin: 0 13px 5px 0;
		font-size: $font-size-base;
		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}
}

.user-form {
	.open-close {
		&.select {

			@include media('<tablet') {
				border-radius: 0;
				border: none;
			}
			.opener {
				&:after {
					@include media('<tablet') {
						display: none !important;
					}
				}
				@include media('<tablet') {
					display: none !important;
				}
			}
			.slide {
				@include media('<tablet') {
					position: static !important;
					box-shadow: none;
					border: none;
					padding: 0;
				}
			}
		}
	}
}

.add-client-form {

	.switch-frame {
		@include media('<tablet') {
			flex-direction: row-reverse;
		}
		.clickable-switch {
			@include media('<tablet') {
				flex-direction: row-reverse;
				justify-content: space-between;
				width: 100%;
			}
		}
	}
}

.select-period {

	&.open-close {

		.opener-holder {
			@include flex-horizontal-align;
		}

		.opener {
			color: $purple;
		}

		.btn-back {
			margin: 0 0 15px -5px;
		}
	}

	.icon-calendar {
		font-size: 21px;
		cursor: pointer;
	}

	.selected-date {
		display: inline-block;
		vertical-align: middle;
		padding: 5px 9px;
		min-width: 250px;
		line-height: 1.2;
		font-size: 15px;
		color: $base-text-color;
		font-weight: 500;

		@include media('>=desktop') {
			font-size: $font-size-base;
		}
	}
}

.paymetn-frame {
	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		margin: 47px -14px 0;
	}
}

.add-payment-box {
	font-weight: 500;
	text-align: center;
	margin: 0 0 28px;
	padding-top: 38px;
	color: $base-text-color;

	@include media('>=tablet') {
		font-size: $secondary-size-base;
		width: calc(50% - 28px);
		border: 6px solid $lines-light-gray;
		border-radius: 18px;
		margin: 0 14px 28px;
		padding: 18px 31px 25px;
	}

	@include media('>=desktop') {
		max-width: 290px;
		width: calc(25% - 28px);
	}

	a {
		@include flex-central-align;
		color: inherit;
		flex-flow: column nowrap;
		width: 100%;
		height: 100%;
		transition: background $animation-speed;

		&:hover {
			@include media('>=tablet') {
				background: rgba($lines-light-gray, 0.2);
			}
		}
	}

	img {
		display: block;
		margin: 0 auto 22px;

		@include media('>=tablet') {
			width: 47px;
		}
	}

	span {
		width: 100%;
		display: block;
	}
}

.payment-box {
	display: flex;
	background: $bg-light-gray;
	border-radius: 18px;
	padding: 18px 45px 21px 17px;
	margin: 0 0 17px;
	width: 100%;
	position: relative;

	&.selected {
		.payment-title {

			&:after {
				font-family: 'icomoon';
				content: "\e939";
				font-size: 9px;
				color: $light-red;
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 7px;
			}
		}
	}

	@include media('>=tablet') {
		display: block;
		width: calc(50% - 28px);
		margin: 0 14px 28px;
		padding: 18px 31px 25px;
	}

	@include media('>=desktop') {
		max-width: 290px;
		width: calc(25% - 28px);
	}

	.img-box {
		width: 45px;
		height: 46px;
		margin: 0 19px 0 0;

		@include media('>=tablet') {
			margin: 0 0 17px -4px;
		}

		img {
			max-width: 100%;
		}
	}
}

.payment-info {
	.payment-title {
		display: block;
		font-weight: 700;
		font-size: $medium-font-size;
		padding: 0 0 8px;
	}
}

.payment-actions {
	position: absolute;
	top: calc(50% - 6px);
	right: 26px;
	@include media('>=tablet') {
		top: 29px;
		right: 30px;
	}

	.open-close {
		.opener {
			@include flex-central-align;
			width: 15px;
			height: 12px;
			font-size: 3px;
			color: $secondary-text-color;

			&:hover {
				color: $base-text-color;
			}
		}

		.slide {
			right: -33px;
			left: auto;

			&:before {
				right: 28px;
				left: auto;
			}
		}
	}
}

.total-block {
	background: $bg-light-gray;
	border-radius: 16px;
	margin: 0 0 26px;

	@include media('>=tablet') {
		margin: 0 0 20px;
	}

	.top {
		border-bottom: 1px solid $lines-light-gray;
		padding: 32px 25px 12px;

		@include media('>=tablet') {
			padding: 30px 46px 30px 33px;
		}

		dt {
			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}
		}

		dd {
			font-weight: 500;
			@include media('>=tablet') {
				font-weight: $base-font-weight;
			}
		}
	}

	.bottom {
		padding: 21px 25px 17px;

		@include media('>=tablet') {
			padding: 5px 46px 9px 33px;
		}
		dl {
			font-weight: 500;
			padding: 0 0 28px;
		}

		dd {
			font-size: 19px;
		}
	}

	dl {
		margin: 0;

		div{
			@include flex-horizontal-align;
			justify-content: space-between;
			margin: 0 0 13px;
		}
	}
	dt,dd {
		margin: 0;
		width: 50%;
	}

	dd {
		text-align: right;
		padding: 0 0 0 15px;
		font-size: 15px;
	}

	.submit {
		margin: 0 0 26px;
	}

	.btn-cancellation {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

.payment-radio-row {
	padding: 16px 0 40px;

	@include media('>=tablet') {
		padding: 0 0 44px;
	}

	.payment-radio-title {
		color: $secondary-text-color;
		font-weight: 500;
		display: block;
		padding: 0 0 18px;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}
	}
}

.document-frame {
	position: relative;

	.caption {
		align-items: center;

		@include media('<tablet') {
			padding: 0 0 97px;
		}

		.btn-box {
			@include media('<tablet') {
				padding: 0 0 0 23px;
			}
		}

		.serach-opener {
			@include media('<tablet') {
				margin-bottom: 5px;
			}
		}

		.title-holder {
			@include media('<tablet') {
				padding: 0;
			}
		}

		h2 {
			@include media('<tablet') {
				font-size: 22px;
			}
		}

		.title-box {
			align-items: center;
		}

		.caption-actions-frame {
			@include media('>=desktop') {
				padding-top: 7px
			}
		}
	}

	.sorting-frame {
		@include media('<tablet') {
			bottom: 28px;
		}
	}

	.sorting-block {
		.open-close {

			.opener {
				@include media('<tablet') {
					font-size: $font-size-base;
				}
			}
			.icon-sorting {
				@include media('<tablet') {
					font-size: 10px;
					min-height: 0;
				}
			}
		} 
	}
}