#header {
	@include flex-horizontal-align;
	justify-content: space-between;
	padding: 8px 25px;
	border-bottom: 1px solid $lines-light-gray;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $white;
	z-index: 2;

	@include media('>=tablet') {
		padding: 15px 53px 16px 137px;
		border: none;
		background: $bg-light-gray;
		position: relative;
		z-index: 2;
	}

	.open-close {
		@include media('>=tablet') {
			padding: 0 0 4px;
		}

		.opener {
			@include flex-horizontal-align;
			font-size: $medium-font-size;
			font-weight: 500;
			color: $purple;
			text-decoration: none;
			margin: 6px 0 0;

			&:after {
				content: "\e903";
				font-size: 5px;
				margin: 0 0 0 9px;
			}
		}
	}

	.amount-block {
		>.open-close.hidden-tablet {			
			.opener {
				color: $base-text-color;
				font-size: 20px;
				margin: 0;

				&:after {
					font-size: 8px;
					margin: 7px 0 0 9px;
				}
			}
		}
	}

	.amount {
		.open-close {
			@include media('>=tablet') {
				padding: 0 12px 6px 0;
			}
		}
		.opener {
			font-size: 18px;
			color: $base-text-color;
			font-weight: 500;
			&:after {
				display: none;
			}
			&:hover {
				color: $purple;
			}

			@include media('>=tablet') {
				font-size: $font-size-base;
			}
		}

		.slide {
			font-size: $font-size-base;
			font-weight: normal;
			padding-bottom: 4px;

			&:before {
				@include media('<tablet') {
					left: calc(50% - 12px);
				}
			}

			@include media('<tablet') {
				right: 0;
			}

			.list {
				@include media('>=tablet') {
					font-size: $font-size-base;
				}
			}

			i {
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				width: 36px;
				&.icon-icon_1 {
					font-size: 20px;
					margin: 2px 0 0;
				}
				&.icon-icon_2 {
					font-size: 15px;
					padding: 0 0 0 3px;
				}

				&.icon-icon_3 {
					font-size: 19px;
					padding: 0 0 0 5px;
				}
			}
		}
	}
}

#nav {
	@extend %listreset;
	color: $text-black;
	font-size: $medium-font-size;
	padding: 0 0 8px;

	@include media('>=tablet') {
		padding: 0;
	}

	li {
		padding: 0 0 32px;

		&.active >a,
		>a:hover {
			&:before {
				@include media('>=tablet')  {
					width: 3px;
				}
			}

			i {
				color: $purple;
			}
		}

		@include media('>=tablet') {
			color: $secondary-text-color;
		}
	}

	i {
		margin: 0 27px 0 0;
		display: inline-block;
		vertical-align: top;
		@include media('>=tablet') {
			margin: 0;
		}
	}

	a {
		@include flex-horizontal-align;
		text-decoration: none;
		color: inherit;

		&:before {
			@include media('>=tablet')  {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: -10px;
				border-radius: 0 2em 2em 0;
				background: $purple;
				width: 0;
				transition: width $animation-speed;
			}
		}

		
		@include media('>=tablet') {
			color: $secondary-text-color;
			min-height: 45px;
			position: relative;
			justify-content: center;
		}
	}

	i {
		color: $input-border-color;
		font-size: 25px;
		transition: color $animation-speed;
	}
}

.nav-opener {
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 50px;
	height: 50px;
	z-index: 5;
	&:before,
	&:after {
		content:'';
		position: absolute;
		height: 3px;
		background: #5A4BC9;
		left: 15%;
		border-radius: 2em;
	}

	&:before {
		right: 20%;
		top: 45%;
	}

	&:after {
		right: 47%;
    	top: 62%;
	}

	.nav-active & {
		position: absolute;
		top: 11px;
   		right: 13px;

   		&:before,
		&:after {
			top: 50%;
			height: 2px;
			right: 25%;
			left: 30%;
			background: $dark-purple;
		}

		&:before {
			transform: rotate(45deg);

		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	@include media('>=tablet') {
		display: none;
	}
}

.nav-holder {
	z-index: 1;

	.nav-active & {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	@include media('<tablet') {
		background: $white;
		position: fixed;
		top: 0;
		bottom: 0;
		left: -9999px;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		padding: 18px 27px;
		overflow-y: auto;
	}
}

.fixed-panel {
	border-bottom: 1px solid $lines-light-gray;

	@include media('>=tablet') {
		position: fixed;
		top: 0;
		left: 0;
		width: 79px;
		background: $bg-light-gray;
		padding: 16px 9px 8px 10px;
		border-bottom: none;
	}

	.logo {
		margin: 0 0 42px -5px;

		@include media('>=tablet') {
			margin: 0 0 98px;
		}

		a {
			display: block;
		}
	}
}

.user-wrap {
	padding: 20px 0 0;

	@include media('>=tablet') {
		@include flex-horizontal-align;
		padding: 0;
	}

	.list {
		padding: 0 0 10px;
		font-size: $medium-font-size;

		li {
			padding: 0 0 21px;
		}
	}
}

.amount-block {
	@include flex-horizontal-align;
	justify-content: space-between;
	font-weight: 500;
	padding: 0 0 24px;

	@include media('>=tablet') {
		display: block;
		padding: 0;
	}

	.amount {
		@include flex-horizontal-align;
		font-size: 18px;
		font-weight: 500;

		@include media('>=tablet') {
			font-size: $font-size-base;
		}

		i {
			color: $purple;
			display: inline-block;
			vertical-align: top;
			margin: 0 9px 0 0;
			font-size: 16px;
			@include media('<tablet') {
				display: none;
			}
		}
	}

	>.open-close.hidden-tablet {
		width: 40%;
	}

	.btn-circle-lg {
		margin: 0 0 0 20px;
		@include media('>=tablet') {
			display: none;
		}
	}
}

.user-frame {
	padding: 0 0 23px;

	@include media('>=tablet') {
		padding: 2px 0 0 32px;
	}
}

.user-block {
	@include flex-horizontal-align;
	background: $bg-light-gray;
	padding: 17px 30px 17px 18px;
	border-radius: 11px;
	position: relative;
	text-decoration: none;
	color: inherit;
	transition: opacity $animation-speed;

	&:hover {
		opacity: 0.7;
	}

	&:after {
		position: absolute;
		top: calc(50% - 6px);
		right: 20px;
		content:'';
		width: 7px;
		height: 12px;
		background: url(../images/chevron-right.svg) 50% 50% no-repeat;
		background-size: contain;

		@include media('>=tablet') {
			display: none;
		}
	}

	@include media('>=tablet') {
		padding: 7px 5px;
	}

	.icon-profile-header {
		@include flex-central-align;
		background: $white;
		border-radius: 100%;
		width: 41px;
		height: 41px;
		margin: 0 14px 0 0;
		color: $purple;
		font-size: 16px;

		@include media('>=tablet') {
			border-radius: 9px;
			width: 33px;
			height: 33px;
			margin: 0 12px 0 0;
		}
	}

	.user-name {
		font-size: 15px;
		font-weight: 500;

		@include media('>=tablet') {
			font-size: 13px;
		}
	}

	.post {
		font-size: 14px;
		display: block;
		color: $secondary-text-color;
		margin: 5px 0 0;

		@include media('>=tablet') {
			font-size: 12px;
			margin: 3px 0 0;
		}
	}
}